[
    {
        "id":"chat_message_added",
        "app":"default",
        "dataType":"default",
        "conditions":[
        ],
        "type":"LIST_ITEM_ADDED",
        "path":"root.chat",
        "targets":{
            "gcm":{
                "collapseKey": "applice",   
                "title": "${root.title}",
                "message":"($author) ${root.chat.?.text}",
                "style": "inbox",
                "summaryText": "There are %n% notifications",
                "notId": "$hash{root.id}",
                "commId": "${root.communities.0}",
                "projId": "${root.id}"
            }
        }
    },
    {
        "id":"need_added",
        "app":"default",
        "dataType":"default",
        "conditions":[
        ],
        "type":"LIST_ITEM_ADDED",
        "path":"root.needs",
        "targets":{
            "gcm":{
                "title": "${root.title}",
                "message":"($author) new need: ${root.needs.?.text}",
                "style": "inbox",
                "summaryText": "There are %n% notifications",
                "notId": "$hash{root.id}",
                "commId": "${root.communities.0}",
                "projId": "${root.id}"
            }
        }
    },
    {
        "id":"need_comment_added",
        "app":"default",
        "dataType":"default",
        "conditions":[
        ],
        "type":"LIST_ITEM_ADDED",
        "path":"root.needs.?.comments",
        "targets":{
            "gcm":{
                "title": "${root.title}",
                "message":"($author) comments: ${root.needs.?.comments.?.text}",
                "style": "inbox",
                "summaryText": "There are %n% notifications",
                "notId": "$hash{root.id}",
                "commId": "${root.communities.0}",
                "projId": "${root.id}"
            }
        }
    }
]

