/*
  Icon Font: fontcustom
*/

@font-face {
  font-family: "fontcustom";
  src: url("./fontcustom_d2227095ee02f1265045c063e4753d75.eot");
  src: url("./fontcustom_d2227095ee02f1265045c063e4753d75.eot?#iefix") format("embedded-opentype"),
       url("./fontcustom_d2227095ee02f1265045c063e4753d75.woff") format("woff"),
       url("./fonts/fontcustom_d2227095ee02f1265045c063e4753d75.ttf") format("truetype"),
       url("./fontcustom_d2227095ee02f1265045c063e4753d75.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("./fontcustom_d2227095ee02f1265045c063e4753d75.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-thanksapplogo:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-thanksapplogo:before { content: "\f100"; }
