.blue { color: #47c9eb; }
.grey { color: #696969; }
.green { color: #c1d97a; }

.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Landing page */

.root-panel {
}

.welcome-logo-container {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 40px;
}

.welcome-logo {
  margin-left: auto;
  margin-right: auto;
}

.welcome-msg {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 1.3em;
  font-family: "Dax Wide Regular"
}

.login-tip {
  font: 1.8em "Cookie";
  color: #47c9eb;
  background: url(../images/arrow-down.png) no-repeat left 15px;
  padding-left: 50px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-tip {
  font: 1.8em "Cookie";
  color: #47c9eb;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.logout-options {
  margin-left: auto;
  margin-right:auto;
}

.logout-button {
  margin-right: 4em;
}


.empty-communities-tip, .empty-tasks-tip {
  font: 1.8em "Cookie";
  color: #47c9eb;
  background: url(../images/arrow-up.png) no-repeat right top;
  padding-right: 50px;
  height: 75px;
  float: right;
  display: table;
  text-align: right;
}

.empty-communities-tip-msg, .empty-tasks-tip-msg {
  display: table-cell;
  vertical-align: bottom;

}

.empty-tasks-tip {
  margin-top: 20px;
}

/* Navigation bar */

.nav-left-container {
  float: left;
}

.nav-right-container {
  float: right;
}

.nav-title {
  font-size: 1.4em;
  font-family: 'Dax Wide Regular', sans-serif;
  color: #696969;
  text-align: center;
}

.nav-title .task-index {
  font-family: 'Dax Wide Regular', sans-serif;
  font-size: 0.8em;
  color: #696969;
}

.navbar .fa {
  font-size: 1.8em;
}

/* Tasks */

.checkbox-tip {
  font: 1.8em "Cookie";
  color: #47c9eb;
  background: url(../images/arrow-down.png) no-repeat left 15px;
  padding-left: 50px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transform:scaleY(-1);
  -moz-transform:scaleY(-1);
  -ms-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);
  }

.checkbox-tip * {
  -webkit-transform:scaleY(-1);
  -moz-transform:scaleY(-1);
  -ms-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);}

.text-strike {
  text-decoration: line-through;
}

.task-completed {
  background-color: #efeded;
}

.task-item {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: normal;
  color: #696969;
  border-bottom: solid #e2e2e2 1px;
}

.task-check-container {
  padding-top: 3%;
  width: 50px;
}

.task-checkbox {
  font-size: 2.15em;
  color: #d8d8d8;
}

.task-checkbox-checked {
  color: #f6A247;
}

.task-name {
  font: 1.3em "Dax Wide Regular", sans-serif;
  color: #696969;
  font-weight: bold;
  cursor: pointer;
}

.task-assignees {
  font: 1.1em "Dax Wide Regular";
  color: #696969;
  margin-top: 5px;
}

.task-form {
  padding-top: 10px;
}

.form-group.task-delete {
  margin-top: 45px;
}

/* Communities */

.group-task-tip {
  font: 1.8em "Cookie";
  color: #47c9eb;
  background: url(../images/arrow-down.png) no-repeat left 15px;
  padding-left: 50px;
  height: 75px;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transform:scaleY(-1);
  -moz-transform:scaleY(-1);
  -ms-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);
  }

.group-task-tip * {
  -webkit-transform:scaleY(-1);
  -moz-transform:scaleY(-1);
  -ms-transform:scaleY(-1);
  -o-transform:scaleY(-1);
  transform:scaleY(-1);}

.nav-title .community-name {
  font-weight: bold;
}

.community-item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: normal;
    color: #696969;
    border-bottom: solid #e2e2e2 1px;
}

.community-item-name {
    font: 1.3em "Dax Wide Regular", sans-serif;
    cursor: pointer;
}

.community-form {
  padding-top: 10px;
}

button.community-edit {
  color: #47c9eb;
  border-radius: 10px;
}

/* UserSelectorViewMobile.ui.xml UserCell.ui.xml */

.user-item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: normal;
    color: #696969;
    border-bottom: solid #e2e2e2 1px;
}

.user-item-name {
    font: 1.3em "Dax Wide Regular", sans-serif;
}

button.generic-edit {
  color: #47c9eb;
  border-radius: 10px;
}

.create-participant-link {
  margin-top: 1em;
  margin-bottom: 1em;
  font: 1.3em "Dax Wide Regular", sans-serif;
}

.deadline-date-picker{
  display: block;
}

.reminder-date-picker{
  display: block;
}

.datepicker {
  margin-top: 45px;
}

/*Projects*/

.project-item {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: normal;
    color: #696969;
}

.project-item-name {
    font: 1.3em "Dax Wide Regular", sans-serif;
    cursor: pointer;
}

.community-form {
  padding-top: 10px;
}

button.project-edit {
  color: #47c9eb;
  border-radius: 10px;
}

button.project-share {
  color: #c1d97a;
  border-radius: 10px;
}

button.project-cancel {
  color: #47c9eb;
  border-radius: 10px;
}

.nav-title .project-name {
  font-weight: bold;
}

.project-show .media-body {
  text-align: center;
}

.body {
  color: #696969
}

.app-body {
  color: #696969
}

