<div class="section needs-header">
  <h1>{{ project.title }}</h1>

  <div class="needs-tip" translate>
    need.tip
  </div>
</div>

<div class="section need-list">
  <div class="alert alert-info" ng-if="needs.length === 0" translate>
    {{ 'need.index.empty.' + (project.isParticipant() ? 'contributor' : 'reader') }}
  </div>

  <div class="list-group project-needs-list project-needs">
    <div>
      <div need-display need="{completed: 'add'}">
      </div>
    </div>
    <h2 translate>need.title.todo</h2>
    <div ng-repeat="need in needs | filter:{completed: true} | orderBy:orderByTime">
      <div need-display need="need">
      </div>
    </div>
    <h2 translate>need.title.done</h2>
    <div ng-repeat="need in needs | filter:{completed: false} | orderBy:orderByTime">
      <div need-display need="need">
      </div>
    </div>
  </div>
</div>
