<div class="list-group-item need-item" ng-if="project.isContributor() || need.completed !== 'add'">
  <div class="need-sections" ng-click="toggleCommentsVisibility(need)">
    <div class="need-section need-section-status">
      <div class="ineed-check-container pull-left" ng-click="$event.stopPropagation(); toggleCompleted(need, $event)" ng-class="(need.completed === 'true') ? 'need-checkbox-true' :  ((need.completed === 'false') ? 'need-checkbox-false' : 'need-checkbox-add')">
      </div>
    </div>
    <div class="need-section need-text">
      <input ng-if="project.isContributor()" type="text"
             class="need-name overflow-ellipsis col-md-11"
             ng-class="need.completed === 'true' ? 'text-strike' : ''"
             ng-model="need.text" placeholder="{{ 'need.new.placeholder' | translate }}"
             ng-blur="updateNeed(need)" ng-keydown="keyEventsHandler($event)"
             ng-click="$event.stopPropagation()">
      <div ng-if="!project.isContributor()" class="need-section need-text" ng-class="need.completed === 'true' ? 'text-strike' : ''">
        {{ need.text }}
      </div>
    </div>
    <div class="need-section need-section-comments" ng-if="need.completed !== 'add'" ng-class="need.comments.length ? 'active' : ''">
      <div class="need-comments-count">
        {{ need.comments.length || 0 }}
      </div>
      <div class="need-comments-icon">
        <i class="fa fa-comment"></i>
      </div>
    </div>
  </div>
  <div class="need-comments" ng-show="areCommentsVisible(need) && need.completed !== 'add'">
    <div class="media" ng-repeat="comment in need.comments">
      <div class="media-left">
        <div class="need-comment-avatar swellrt-avatars" ng-model="comment.author"></div>
      </div>
      <div class="media-body">
        <div class="comment-time pull-right">
          {{ hour(comment) }}
        </div>
        <h5 class="media-heading">
          <span class="comment-author-name">
            {{comment.author.split('@')[0]}}
          </span>
        </h5>
        {{comment.text}}
      </div>
    </div>
    <div class="new-need-comment">
      <form class="new-need-comment-send" ng-submit="sendComment()">
        <div class="input-group">
          <textarea class="form-control" rows="1" msd-elastic="\n" ng-model="newComment.text" placeholder="{{ 'need.comment.input' | translate}}">
          </textarea>
          <span class="input-group-addon">
            <i class="fa fa-chevron-circle-right need-comment-input-button" ng-click="sendComment()"></i>
          </span>
        </div>
      </form>
    </div>
  </div>
