<div class="needs list-group-item">
  <div class="ineed-check-container pull-left" ng-click="(need.completed === 'add')? focusElem($event) : toggleCompleted(need)" ng-class="(need.completed === 'true') ? 'need-checkbox-true' :  ((need.completed === 'false') ? 'need-checkbox-false' : 'need-checkbox-add')">
  </div>
  <input type="text"
    class="need-name overflow-ellipsis col-md-11"
    ng-class="need.completed === 'true' ? 'text-strike' : ''"
    ng-model="need.text" placeholder="{{ 'need.new.placeholder' | translate }}"
    ng-blur="updateNeed(need)" ng-keypress="keyEventsHandler($event)">
</div>
