<div class="list-group-item need-item" ng-if="project.isContributor() || need.completed !== 'add'">
  <div class="need-sections" ng-click="toggleCommentsVisibility(need)">
    <div class="need-section need-section-comments" ng-if="need.completed !== 'add'" ng-class="need.comments.length ? 'active' : ''">
      <div class="need-comments-count">
        {{ need.comments.length || 0 }}
      </div>
      <div class="need-comments-icon">
        <i class="fa fa-comment"></i>
      </div>
    </div>
    <div class="need-section need-section-status">
      <div class="ineed-check-container pull-left" ng-click="$event.stopPropagation(); toggleCompleted(need, $event)" ng-class="(need.completed === 'true') ? 'need-checkbox-true' :  ((need.completed === 'false') ? 'need-checkbox-false' : 'need-checkbox-add')">
      </div>
    </div>
    <div class="need-section need-section-text">
      <textarea ng-if="project.isContributor()"
                class="need-name"
                rows="1"
                saving-status
                msd-elastic
                ng-class="need.completed === 'true' ? 'text-strike' : ''"
                ng-model="need.text" placeholder="{{ 'need.new.placeholder' | translate }}"
                ng-blur="updateNeed(need)" ng-keydown="keyEventsHandler($event)"
                ng-click="$event.stopPropagation()">
      </textarea>
      <div ng-if="!project.isContributor()" class="section-text-readonly" ng-class="need.completed === 'true' ? 'text-strike' : ''">
        {{ need.text }}
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="need-section need-section-author">
      <span translate
            translate-values="{
              author: need.author.split('@')[0],
              time: '{{need.time | amTimeAgo }}'
            }"
            ng-if="need.text !== '' && need.author">
        need.by
      </span>
    </div>
  </div>
  <div class="need-comments" ng-show="areCommentsVisible(need) && need.completed !== 'add'">
    <div class="media" ng-repeat="comment in need.comments">
      <div class="media-left">
        <div avatars="comment.author"></div>
      </div>
      <div class="media-body">
        <div class="comment-time pull-right">
          <span am-time-ago="comment.time"></time-ago>
        </div>
        <h5 class="media-heading">
          <span class="comment-author-name">
            {{comment.author.split('@')[0]}}
          </span>
        </h5>
        <div ng-bind-html="comment.text | linky"></div>
      </div>
    </div>
    <div class="new-need-comment">
      <form class="new-need-comment-send" ng-submit="sendComment()">
        <div class="input-group">
          <textarea class="form-control" rows="1" msd-elastic="\n" ng-model="newComment.text" placeholder="{{ 'need.comment.input' | translate}}" ng-keydown="keyDown($event)">
          </textarea>
          <span class="input-group-addon">
            <i class="fa fa-chevron-circle-right need-comment-input-button" ng-click="sendComment()"></i>
          </span>
        </div>
      </form>
    </div>
  </div>
