<div class="need-list" ng-class="{'need-list-collapsed': project.isParticipant()}">
  <div ng-if="!project.needs.length" class="project-void-banner">
    <img src="images/needs.svg">
    <p translate>need.no_needs</p>
  </div>

  <div class="list-group project-needs-list project-needs">
    <h3 translate>need.title.todo</h3>
    <div>
      <div need-display need="{completed: 'add'}">
      </div>
    </div>
    <div ng-repeat="need in needs | filter:{completed: false} | orderBy:orderByTime">
      <div need-display need="need">
      </div>
    </div>
    <h3 translate>need.title.done</h3>
    <div ng-repeat="need in needs | filter:{completed: true} | orderBy:orderByTime">
      <div need-display need="need">
      </div>
    </div>
  </div>
</div>
