<div class="needs-header section">
  <need-progress-bar></need-progress-bar>
</div>

<div class="section need-list" ng-if="project.needs.length">
  <div class="list-group project-needs-list project-needs">
    <div>
      <div need-display need="{completed: 'add'}">
      </div>
    </div>
    <div ng-repeat="need in needs | orderBy:orderByTime | orderBy: 'completed'">
      <div need-display need="need">
      </div>
    </div>
  </div>
</div>

<div ng-if="!project.needs.length" class="project-void-banner">
  <img src="images/needs.svg">
  <p translate>need.no_needs</p>
</div>
