<?xml version='1.0' encoding='utf-8'?>
<widget id="eu.p2pvalue.pear2pear" version="0.3.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Teem</name>
    <description>
Teem is the P2Pvalue colaboration tool for Common-based Peer Production Communities (CBPPs)

http://p2pvalue.eu/
    </description>
    <author email="p2pv@ucm.es" href="http://p2pvalue.eu">
        UCM P2Pvalue
    </author>
    <content src="https://app.teem.works/?cordova=android" />
    <allow-navigation href="https://app.teem.works/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="whatsapp://*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <access origin="*" />
    <platform name="android">
      <config-file target="AndroidManifest.xml" parent="application/activity">
        <intent-filter>
          <action android:name="android.intent.action.VIEW"></action>
	        <category android:name="android.intent.category.DEFAULT"></category>
	        <category android:name="android.intent.category.BROWSABLE"></category>
	        <data android:host="app.teem.works" android:scheme="http"></data>
	        <data android:host="app.teem.works" android:scheme="https"></data>
        </intent-filter>
      </config-file>
      <preference name="android-minSdkVersion" value="14" />
      <preference name="android-targetSdkVersion" value="23" />
      <icon src="res/icon.png" density="ldpi" />
      <icon src="res/icon.png" density="mdpi" />
      <icon src="res/icon.png" density="hdpi" />
      <icon src="res/icon.png" density="xhdpi" />
    </platform>
    <icon src="res/icon.png" />
</widget>
