<?xml version='1.0' encoding='utf-8'?>
<widget id="eu.p2pvalue.pear2pear" version="0.2.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Teem</name>
    <description>
Teem is the P2Pvalue colaboration tool for Common-based Peer Production Communities (CBPPs)

http://p2pvalue.eu/
    </description>
    <author email="p2pv@ucm.es" href="http://p2pvalue.eu">
        UCM P2Pvalue
    </author>
    <content src="https://app.teem.works/?cordova=android" />
    <allow-navigation href="https://app.teem.works/*" />
    <access origin="*" />
    <platform name="android">
      <preference name="android-minSdkVersion" value="13" />
      <icon src="res/icon.png" density="ldpi" />
      <icon src="res/icon.png" density="mdpi" />
      <icon src="res/icon.png" density="hdpi" />
      <icon src="res/icon.png" density="xhdpi" />
    </platform>
    <icon src="res/icon.png" />
</widget>
