.avatar, .project-photo
  text-align: center
  display: inline-block
  width: 65px
  margin-right: 10px
  img
    background-color: #D3D3D3
    @extend .img-circle
    display: block
    height: 65px
    width: 65px
  div
    overflow: hidden
    font-size: 0.8em
    color: $grey

.avatar-large, .project-photo-large
  @extend .avatar
  width: 75px
  img
    height: 75px
    width: 75px

.avatar-small, .project-photo-small
  @extend .avatar
  width: 50px
  img
    height: 50px
    width: 50px

.avatar-xsmall, .project-photo-xsmall
  @extend .avatar
  width: 30px
  img
    height: 30px
    width: 30px

.avatar-responsive, .project-photo-responsive
  img
    @extend .img-circle
    width: 100%
