.avatar
  text-align: center
  display: inline-block
  width: 40px
  margin-right: 10px
  img
    background-color: #D3D3D3
    @extend .img-circle
    display: block
    height: 40px
    width: 40px
  div
    overflow: hidden
    font-size: 0.8em
    color: $grey

.avatar-large
  @extend .avatar
  width: 200px
  img
    height: 200px
    width: 200px

// ng-img-crop support
img-crop
  width: 100%
  height: 100%
  display: block
  position: relative
  overflow: hidden
  canvas
    display: block
    position: absolute
    top: 50%
    left: 50%
    outline: none
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
    /* mobile webkit */

.cropArea
  background: #E4E4E4
  overflow: hidden
  width: 500px
  height: 350px
