.btn, .input-group-btn .btn
  color: $teal
  height: 48px
  font-size: 16px
  font-weight: bold

.btn-fab.fa-facebook
  color: white !important
  background-color: #4d82c8 !important

.btn-fab.fa-twitter
  color: white !important
  background-color: #00bef1 !important

.btn-fab.fa-whatsapp
  color: white !important
  background-color: #4dc247 !important

.btn-fab.fa-mobile
  color: white !important
  background-color: $dark-grey !important
