.chat
  ul.chat-messages
    padding: 0
    list-style-type: none
    li
      border-radius: 5px
      box-shadow: 0 0 2px $chat-msg-shadow
      padding: .36em .71em .71em .71em
      margin: 15px 20px
      overflow: auto
      &.mine
        background-color: $chat-mine-color
        margin-left: .71em
        .avatar
          display: none
      &.their
        background-color: $chat-their-color
        margin-right: .71em
        .avatar
          float: left
          margin-right: 10px
      &.notification
        @extend .alert
        @extend .alert-info
        margin-right: 50px
        margin-left: 50px
      &.day-change
        @extend .alert
        @extend .alert-info
        @extend .text-center
        @extend .overflow-ellipsis
        display: block
        max-width: 150px
        padding: 5px !important
        margin-left: auto
        margin-right: auto
      &.new-messages
        @extend .alert
        @extend .alert-info
        @extend .text-center
        @extend .overflow-ellipsis
        display: block
      .chat-message-sender
        color: $chat-sender-color
        font-weight: bold
        margin-bottom: 2px
      .chat-message-time
        float: right
        font-size: .86em
        padding-top: 0.26em
  .chat-send-bar
    background: $chat-send-bar-background-color
    textarea
      font-size: 1.21em
      resize: none
      border-right: 0px
    textarea:focus + .input-group-addon
      @extend .form-control:focus
    button
      border-radius: 50%
      padding-top: 0.07em
      padding-left: 0.21em
      height: 1.71em
      width: 1.71em
