.community-title
  font-family: "Dax Wide Regular", sans-serif

.community-search
  margin-top: 10px
  margin-bottom: 10px
  .input-group-addon:first-child
    padding-right: 0px
  .form-control
    border-left-width: 0px
  .fa
    color: $search-icon-color
