.community-title
  font-family: "Dax Wide Regular", sans-serif


.community-search
  background-color: white
  margin-top: 0px
  margin-bottom: 10px
  .input-group-addon:first-child
    padding-right: 0px
  .form-control
    border-left-width: 0px
  .fa
    color: $search-icon-color
  .scrollable-header
      @extend .nav-title
      background-color: #F6A247
      color: white
      text-align: left
      padding-left: 1em
      padding-top: 1em
      padding-bottom: 1em



.new-community-description
  margin-bottom: 10px
