.communities
  h3
    color: $community-title-color
    text-transform: uppercase
    font-size: 1.42em
    height: 2.1em
    overflow-y: hidden
.community-list
  padding-top: 20px

.community-item
  .caption
    padding-top: 14px
    color: $community-description-color
  .community-description
    height: 3em
    overflow: hidden
    margin-top: 14px
    margin-bottom: 0
  .community-project-count
    margin-top: 28px
    padding-bottom: 9px
    margin-bottom: 0
    border-bottom: 1px solid $line-color
  .icon-count
    padding-top: 10px
  .community-item-footer
    height: 40px
  .community-view-more
    padding: 0

.community-photo, .community-gallery
  img
    width: 100%
    object-fit: cover
    max-height: 152px

.community-description
  margin-top: 20px
  margin-bottom: 20px

.community-project-title
  margin-bottom: 0px
.community-projects-count
  margin-bottom: 5px


.community
  display: block
  h1, h2
    font-size: 1.42em
  h2
    font-weight: $font-weight-light
.community-participant-count
  padding-top: 14px

.community-participants
  background: $community-participants-background-color
  h2
    @extend .participant-title

.community-search
  background-color: white
  margin-top: 0px
  margin-bottom: 10px
  .input-group-addon:first-child
    padding-right: 0px
  .form-control
    border-left-width: 0px
  .fa
    color: $search-icon-color
  .scrollable-header
      @extend .nav-title
      background-color: #F6A247
      color: white
      text-align: left
      padding-left: 1em
      padding-top: 1em
      padding-bottom: 1em

.community-new-greeting
  text-align: center

.community-new-tip
  font-size: 1.3em
  font-weight: bold

.community-project-tip
  font-size: 1.2em
  font-weight: bold
  margin-top: 10px

.community-project-image
  img
    margin: -3px auto
.community-project-btn
  text-align: center
  button
    margin-top: 0

.select-community-tip
  margin: 2em

.new-community-description
  margin-bottom: 10px

.community-welcome
  .jumbotron
    padding-left: 10px

.modal-community-settings
  .connection-status
    margin-top: -16px
.community-project-title
  text-transform: uppercase
.community-project-count
  font-size: 1.42em
  font-weight: $font-weight-light

.community-participating-message
  @extend .pull-right
  color: $community-participanting-message-color
  padding-top: 16px
