
// font-weight lighter does not work in font faces
// http://stackoverflow.com/questions/10627810/chrome-19-not-recognising-font-weight-lighter

$font-weight-light: 100

@font-face
  font-family: 'Lato'
  src: url(../fonts/Lato-Light.ttf)
  font-weight: $font-weight-light

@font-face
  font-family: 'Lato'
  src: url(../fonts/Lato-Regular.ttf)
  font-weight: normal

@font-face
  font-family: 'Lato'
  src: url(../fonts/Lato-Bold.ttf)
  font-weight: bold
