.walkthrough-content
  height: 100%
  .swiper-slide
    background: url(/images/walkthrough-background.png)
    img
      height: 60%
      max-width: 100%
      max-height: 100%
      margin: auto
  .carousel-caption
    height: 40%
    display: flex
    align-items: center
    justify-content: center
    text-shadow: none
    h2
      font-weight: $font-weight-light
      color: $dark-blue

.swiper-container
  height: 100%

.swiper-pagination
  width: 100%
  bottom: 20px
  left: 0
  .swiper-pagination-bullet
    border-color: $darker-grey
    background-color: $darker-grey
    width: 12px
    height: 12px
    margin: 2px
    &.swiper-pagination-bullet-active
      border-color: $button-primary-background-color
      background-color: $button-primary-background-color
      margin: 2px

.swiper-button-prev, .swiper-button-next
  background: none
  &::after
    font-family: "FontAwesome"
    font-size: 20px
    color: $button-primary-background-color

.swiper-button-prev
  &::after
    content: "\f053"
.swiper-button-next
  &::after
    content: "\f054"
