.loading-content,
.upgrading-content
  position: fixed
  top: 50%
  left: 50%
  -webkit-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  h4
    margin-top: 15px
.upgrading-message
  @extend .upgrading-content
  width: 100%
  margin-top: 110px
  padding-left: 15px
  padding-right: 15px

@media (min-width: 1024px)
  .upgrading-message
    text-align: center

.walkthrough-content
  background: url(/images/walkthrough-background.png)
  .item img
    height: 60%
  .carousel-caption
    height: 40%
    display: flex
    align-items: center
    justify-content: center
    h2
      font-weight: $font-weight-light
      color: $heading-secondary-color
