.menu
  background-color: white
  .scrollable-header
    @extend .nav-title
    min-height: 85px
    background-color: $menu-heading
    color: white
    text-align: left
    padding-left: 1em
    padding-top: 1em
    padding-bottom: 1em
  .list-group-item-header
    color: #555
    font-weight: bold
    a
      color: inherit
    i
      font-size: 1.4em
      color: inherit
      margin-left: 10px
  .list-group-item-child
    padding-left: 30px
