.menu-header
  min-height: 50px
  a
    color: $menu-header-color
  a:hover
    text-decoration: none
  background: $menu-header-background-color
  font-size: 3em
  line-height: 1.2em
  padding-left: .2em
.menu-session
  background: $menu-session-background-color
.menu-session-img
  display: inline-block
  vertical-align: middle
  width: 33%
  padding: 10px
.menu-session-body
  display: inline-block
  vertical-align: middle
  width: 66%
  padding: 10px
.menu-session-nick
  color: $menu-session-nick-color
  font-weight: bold
  font-size: 1.43em
.menu-session-tip
  color: $menu-session-tip-color
.menu-session-action
  &, button
    color: $menu-session-action-color
    text-transform: uppercase
  button
    padding-left: 0px
.menu-content
  .list-group-item
    background: $menu-background-color
    color: $menu-item-color
    font-size: 2.14em
    font-weight: $font-weight-light
