.navbar-absolute-top
  border-bottom-width: 0px
  &, .fa
    color: $navbar-top-color
  background-color: $navbar-top-background-color

.nav-left-container
  float: left

.nav-right-container
  float: right

.nav-title
  font-size: 1.4em
  font-family: 'Dax Wide Regular', sans-serif
  text-align: center

.nav-title .task-index
  font-family: 'Dax Wide Regular', sans-serif
  font-size: 0.8em

.navbar .fa
  font-size: 1.8em

.navbar-app .btn-navbar-bottom
  color: #696969

.navbar-app .btn-navbar-bottom .fa 
  color: #696969

.navbar-app .btn-navbar-bottom .fa.selected
  color: #47c9eb
