.navbar-absolute-bottom
  min-height: 0px;
  .btn-navbar
    color: $navbar-bottom-color
    line-height: normal;
    .fa
      padding-top: 5px;
      padding-bottom: 5px;
  .selected
    color: $navbar-bottom-selected-color
    background-color: $navbar-bottom-selected-background-color
    .fa
      color: $navbar-bottom-selected-color
