/* Change navbar-top height to accomodate navbar-top-navigation
 *
 * We should use less
 */
.has-navbar-top .app-body
  //padding-top: 86px
.navbar-absolute-top
  border-bottom-width: 0px
  &, .fa, a
    color: $navbar-top-color
  background-color: $navbar-top-background-color

@media (min-width: 992px)
  /* Prevent mobile-angular-ui moving navbar-brand-center to left in desktop */
  .navbar-brand-center
    width: 100%
    position: absolute
    /* Do not show menu related links if menu is already visible */
  .btn-navbar
    .fa-bars
      visibility: hidden
  .sidebar
    .menu-header
      display: none

.navbar-brand
  padding-left: 40px
  padding-right: 40px

.nav-left, .nav-right
  padding-top: 3px !important
  @media (max-width: $screen-xs-min)
    .btn
      padding: 0px 15px
.nav-title
  font-size: 1.1em
  text-align: center
  @media (max-width: $screen-xs-min)
    padding-right: 50px !important
    padding-left: 50px !important
  @media (min-width: $screen-xs-min)
    padding-right: 80px !important
    padding-left: 80px !important
  padding-top: 15px !important

.nav-subtitle
  font-size: 1.2em
  font-weight: bold
  text-align: center

.navbar .fa
  font-size: 1.8em

.navbar .project-title .fa
  font-size: 1em

.navbar-top-subtitle
  position: absolute
  top: 40px
  text-align: center
  min-height: 30px
  .justified
    table-layout: fixed

.nav-right-menu
  a
    text-transform: none
