.needs
  font-size: 1.6 em

.need-check-container
  width: 30px

.need-checkbox
  font-size: 1.6em
  color: #d8d8d8

.need-checkbox-checked
  color: #f6A247

.need-checkbox-true
  @extend .fa
  @extend .need-checkbox
  @extend .need-checkbox-checked
  @extend .fa-check-square-o
  margin-right: 0 !important

.need-checkbox-false
  @extend .fa
  @extend .need-checkbox
  @extend .fa-square-o
  margin-right: 0 !important

.need-checkbox-add
  @extend .fa
  @extend .need-checkbox
  @extend .fa-plus

.need-name
  color: #696969
  cursor: auto
  border: none
  width: 100%
  resize: none
  >input
    cursor: auto

.need-item
  padding-left: 0px
  padding-right: 0px
  min-height: 60px
  .need-sections
    width: 100%
  .need-section
    &.need-section-status
      width: 40px
      padding-top: 3px
      padding-right: 10px
      float: left
    &.need-section-text
      margin-left: 40px
      margin-right: 30px
      &.notify-need
        font-weight: bold
      .section-text-readonly
        padding-top: 3px
    &.need-section-author
      padding-left: 40px
      font-size: 0.8em
      color: $grey
    &.need-section-comments
      float: right
      color: $grey
      text-align: center
      width: 30px
      padding-top: 2px
      .fa
        color: $grey
        &.notify-comments
          color: $yellow
    &.need-section-comments.active
      color: inherit
  .comment-time
    text-align: right
    color: $heading-secondary-color
    font-weight: bold
  .need-comments
    padding-left: 40px
    margin-top: 20px
  .need-comments-icon
    i
      font-size: 1.5em
      position: relative
      &:after
        content:attr(data-count)
        font-size: 0.5em
        position: absolute
        top: 0.5em
        right: 0.5em
        color: white
  .new-need-comment
    margin-top: 10px
  .need-comment-input-button
    font-size: 2em
  .input-group
    textarea
      resize: none
      border-right: 0px
    span
      padding-top: 2px
      padding-bottom: 2px
