.pad
  padding-top: 0
  .btn-toolbar
    .btn-group
      margin-top: 0
      margin-bottom: 0

  .swellrt-editor
    > div
      padding: 5px
    &[editable=true]
      background: $pad-background-color
      border: 1px solid $pad-border-color
      padding: .21em
      > div
        outline: 0
  .need-missing-message
    @extend .alert
    @extend .alert-danger
    padding: 5px

.swellrt-placeholder:empty
  color: $placeholder-color
