.plus
  position: absolute
  bottom: 2em
  right: 2em
  color: $plus-color
  background-color: $plus-background-color
  height: 5em
  width: 5em
  text-align: center
  border-radius: 50%
  i
    line-height: 2.5em
