plus
  position: absolute
  bottom: 2em
  right: 24px
  z-index: 10
  .btn.btn-fab.btn-default
    color: $plus-color
    background-color: $plus-background-color
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12)
    &:hover
      background-color: $plus-background-color
      box-shadow: none
  i
    color: inherit

plus.attached
  top: 19px
  bottom: auto
