.profile
  td
    a
      color: $dark-grey
      width: 100%
      display: block
      span
        &::after
          float: right
          content: "\f054" /* chevron-right */
          font-family: FontAwesome
      &:hover
        text-decoration: none
