.project-item
    padding-top: 8px
    padding-bottom: 8px
    font-weight: normal
    color: #696969

.project-item-name
    font: 1.3em "Dax Wide Regular", sans-serif
    cursor: pointer

button.project-edit
  color: #47c9eb
  border-radius: 10px

button.project-share
  color: #c1d97a
  border-radius: 10px

button.project-cancel
  color: #47c9eb
  border-radius: 10px

.nav-title .project-name
  font-weight: bold

.project-show .media-body
  text-align: center
