.project-sections
  & > div
    width: 25%
  h5
    color: $heading-secondary-color
    font-family: 'Dax Wide Regular', sans-serif
    font-weight: bold
    text-align: center
  .project-support-number
    text-align: center
    font-size: 34px
    line-height: 0.9
  .progress
    height: 34px
    margin-top: 5px
    margin-bottom: 5px
  .project-support-btn
    text-align: center
