selector
  .fa-plus-circle
    color: $selector-plus-circle-color
    font-size: 1.5em
  .is-focused .fa-plus-circle
    color: $selector-plus-circle-focused-color

.selectize-control.multi
  height: 100%
  .selectize-input
    >div
      background: $selector-item-background-color !important
      border-radius: 1em !important
      padding-left: 10px !important
      .remove
        padding-left: 10px
        padding-right: 10px
  .selectize-dropdown
    background-image: none

.selectize-control.single, .selectize-control.multi
  .selectize-input, .selectize-input.input-active
    &::after
      content: ""
    > div::after, > .item::after
      content: ""

.input-group
  .selectize-control.form-control
    position: initial

.invite-modal
  background: none
  .modal
    display: flex
    justify-content: center
    align-items: center
  .modal-dialog
    @extend .col-md-6
    @extend .col-md-offset-3
  .modal-content
    background: white
  .modal-header-title
    padding: 0px !important
  .modal-pull-right
    @extend .pull-right
    position: relative

  .selectize-dropdown
    overflow: inherit
    overflow-x: hidden
    max-height: 200px
