.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

// From https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
@mixin break-lines() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.text-strike {
  text-decoration: line-through;
}

.body {
  color: $dark-grey
}

.app-body {
  color: $dark-grey
}

.comma-separated + .comma-separated::before {
  content: ", ";
}

[ui-set],
[ng-click],
[data-ng-click],
[ngf-select],
[x-ng-click] {
    cursor: pointer;
}

.no-pointer {
  cursor: auto;
}

.flex-scroll{
  overflow: auto;
}
.flex-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 0px; /* hack for firefox: http://stackoverflow.com/a/14964944 */
}
.flex-container-row {
  @extend .flex-container;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center
}

[ui-layout-container] > .flex-container {
  height: 100%;
}

// https://github.com/twbs/bootstrap/pull/19292
.pos-r {
  position: relative;
}

.hidden-mobile {
  @extend .hidden-xs;
  @extend .hidden-sm;
}

.hidden-desktop {
  @extend .hidden-md;
  @extend .hidden-lg;
}

.touchable {
  touch-action: inherit !important;
}

.full-height {
  height: 100%;
}
.full-width {
  width: 100%;
}

// https://css-tricks.com/snippets/sass/maintain-aspect-ratio-mixin/
@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.four-three {
  @include aspect-ratio(4, 3);
}
