.overflow-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-strike {
  text-decoration: line-through;
}

.body {
  color: #696969
}

.app-body {
  color: #696969
}
