$main-blue: #50C5DD

$main-yellow: #ffdd87

$navbar-top-background-color: $main-blue

$navbar-top-color: white

$navbar-top-underscore: $main-yellow

$chat-msg-shadow: #B2B2B2

$chat-mine-color: #DCF8C6

$chat-their-color: #FFFFFF

