$main-blue: #50C5DD

$dark-blue: #2191A8

$light-blue: #ADEBF6

$not-so-light-blue: #47C9EB

$main-yellow: #ffdd87

$grey: #ACACAC

/* Navbar */

$navbar-top-background-color: $main-blue

$navbar-top-color: white

$navbar-top-placeholder-color: $light-blue

$navbar-top-underscore: $main-yellow

/* Headings */

$heading-primary-color: white

$heading-secondary-color: $grey

/* Buttons */

$button-primary-color: white

$button-primary-background-color: $main-blue

$chat-msg-shadow: #B2B2B2

$chat-mine-color: #DCF8C6

$chat-their-color: #FFFFFF

$chat-sender-color: $dark-blue

$search-icon-color: $grey
