module.exports = function(config) {
  // Development web server

  config.server.host = '0.0.0.0';
  config.server.port = '8000';
  
  // Set to false to disable it:
  // config.server = false;

  // Weinre Remote debug server
  
  config.weinre.httpPort = 8001;
  config.weinre.boundHost = 'localhost';

  // Set to false to disable it:
  // config.weinre = false;

  // SwellRT server

  config.swellrt.protocol = 'http://';
  config.swellrt.host = 'swellrt';
  config.swellrt.port = '9898';

  // angular-swellrt
  // Use local version
  // config.angularSwellrt.path = '../angular-swellrt';


  // Piwik stats
  // config.piwik = {
  //   server = '//statistics.yourdomain.org/', // Don't forget the trailing slash!
  //   siteId = 1,
  // };

    
  // 3rd party components

  // config.vendor.js.push('.bower_components/lib/dist/lib.js');
  // config.vendor.fonts.push('.bower_components/font/dist/*');

  // Deploy options
  // config.deploy.origin = 'origin'

  config.deploy = false
};
