module.exports = function(config) {
  // Development web server

  config.server.host = '0.0.0.0';
  config.server.port = '8000';

  // Set to false to disable it:
  // config.server = false;

  // Weinre Remote debug server
  //
  //config.weinre = {
  //  httpPort:     8001,
  //  boundHost:    'localhost',
  //  verbose:      false,
  //  debug:        false,
  // readTimeout:  5,
  // deathTimeout: 15
  //};

  // Set to false to disable it:
  // config.weinre = false;

  // SwellRT server

  config.swellrt.protocol = 'http://';
  config.swellrt.host = 'swellrt';
  config.swellrt.port = '9898';

  // angular-swellrt
  // Use local version
  // config.angularSwellrt.path = '../angular-swellrt';


  // Piwik stats
  // config.piwik = {
  //   server = '//statistics.yourdomain.org/', // Don't forget the trailing slash!
  //   siteId = 1,
  // };

  // WaveIds of the community and project when the support
  // activity is done.
  // If present, a support link will be displayed in the app menu
  //
  // Example:
  // config.app.support = {
  //   communityId: 'local.net/s+EWN1NKmVbsO',
  //   projectId:   'local.net/s+3WKINJhZMp8'
  // };

  // 3rd party components

  // config.vendor.js.push('.bower_components/lib/dist/lib.js');
  // config.vendor.fonts.push('.bower_components/font/dist/*');

  // Deploy options
  // config.deploy.files.origin = 'origin'
  //
  // config.deploy.swellrt.args =
  //   '-v /usr/local/etc/teem-swellrt:/usr/local/swellrt/config ' +
  //   '-v /var/local/log/teem-swellrt:/usr/local/swellrt/log ' +
  //   '--link teem-swellrt-mongo:mongo ' +
  //   '-h swellrt.p2pvalue.eu -p 127.0.0.1:9899:9898';
  // config.deploy.swellrt.ssh = {
  //   host: 'swellrt.p2pvalue.eu',
  //   username: 'user',
  //   privateKey: require('fs').readFileSync('/home/user/.ssh/id_rsa')
  // };
};
