<div class="row">
  <div class="col-md-12">
    <form class="task-form" role="form">
      <div class="form-group">
        <label class="control-label" translate>tasks.task_name</label>
        <input id="task_name" class="form-control" type="text" ng-value="task.name"></input>
      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.task_assigned_to</label>
        <ui-select multiple ng-model="assigSelect.assignees" theme="bootstrap">
          <!-- ng-disabled="disabled"> -->
          <ui-select-match placeholder="">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="user in community.users | filter:$select.search">
            {{user.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.task_description</label>
        <textarea class="form-control">{{task.description}}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.deadline</label>
        <div datetime-input date-model="task.deadline"> </div>

      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.reminders</label>
        <div class="alert alert-info" role="alert" ng-if="!isApp()">
          <translate>tasks.reminders_for_android</translate> <a ng-href="http://grasia.fdi.ucm.es/p2pvalue/Teem.apk" translate>tasks.android_app</a>

        </div>
        <div class="row form-group" ng-repeat="reminder in task.reminders" ng-if="isApp()">
          <div datetime-input date-model="reminder">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
