<div id="chat" class="chat">
  <div class="scrollable" hm-swipeleft="showPad();" hm-manager-options='{ "cssProps": { "userSelect": true } }'>
    <div class="scrollable-content section">
      <ul class="chat-messages">
        <div ng-repeat="msg in project.chat" pear-chat-scroll>
          <li id="newMessages" ng-if="firstNewMessage(msg, $index)" class="new-messages" translate>chat.new_messages</li>
          <li ng-if="dayChange(msg, $index)" class="day-change">{{dayChange(msg, $index)}}</li>
          <li class="chat-message {{standpoint(msg)}}">
            <div class="chat-message-time">
              {{hour(msg)}}
            </div>
            <div class="chat-message-sender" ng-if="theirStandpoint(msg)">
              {{msg.who.split('@')[0]}}
            </div>
            <div class="chat-message-text" ng-if="!isNotificationMessage(msg)" ng-bind-html="msg.text | linky"></div>
            <div class="chat-message-text" ng-if="isNotificationMessage(msg)" ng-bind-html="msg.text" translate={{msg.text}} translate-values="msg.translateValues"></div>
          </li>
        </div>
      </ul>
    </div>
    <div class="scrollable-footer chat-send-bar">
      <form class="chat-send" ng-submit="send()">
        <div class="input-group">
          <textarea class="form-control chat-textarea"
                    rows="1"
                    ng-model="newMsg"
                    placeholder="{{ 'chat.input' | translate}}"
                    ng-keydown="keyDown($event)"
                    ng-click="scrollToBottom()">
          </textarea>
          <div class="input-group-addon">
            <button class="btn btn-primary chat-input-button" ng-click="send()">
              <i class="fa i-send"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
