<div id="chat" class="chat">
  <div class="scrollable" ngf-drop="uploadFile($file)" ngf-fix-orientation="true"
    ngf-drag-over-class="'dragover'">
    <div class="scrollable-content section" ui-scroll-top="nextPage()">
      <ul class="chat-messages"
          ng-repeat="msg in project.chat | limitTo:pageSize:pageOffset"
          chat-scroll>
        <li id="newMessages" bo-if="firstNewMessage(msg, $index)" class="new-messages">
          <div translate>chat.new_messages</div>
        </li>
        <li bo-if="dayChange(msg, $index)"
            class="day-change">
            <div bo-text="dayChange(msg, $index)"></div>
        </li>
        <li bo-if="!isNotificationMessage(msg)" class="chat-message" bo-class="standpoint(msg)">
          <div avatars="::(msg.who)" avatars-conf="{size: 'small'}" class="avatar-small"></div>
          <div class="chat-balloon">
            <div class="chat-message-sender color-{{project._participants.indexOf(msg.who)%6 + 1 || 1}}"
                 bo-text="msg.who.split('@')[0]">
            </div>
            <div class="chat-message-time" bo-text="hour(msg)">
            </div>
            <div class="chat-message-file" bo-if="msg.file">
              <img bo-src="msg.file.url"/>
            </div>
            <div class="chat-message-text" bo-html="msg.text | links | emojis"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="scrollable-footer chat-send-bar">
      <form class="chat-send" name="chatForm" ng-submit="send()">
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-addon" id="chatEmojisBtn">
              <a class="btn btn-link btn-xs chat-input-button" uib-popover-template="'emoji-picker.html'" popover-placement="top-left" popover-trigger="outsideClick" ng-click="focusChatInput()">
                <i class="fa fa-smile-o"></i>
              </a>
            </div>
            <textarea class="form-control chat-textarea"
                      name="chatInput"
                      rows="1"
                      autosize
                      ng-model="newMsg"
                      ng-model-options="{ updateOn: 'blur' }"
                      placeholder="{{ 'chat.input' | translate}}"
                      ng-keydown="keyDown($event)"
                      ng-focus="scrollToBottom()"
                      hide-tabs>
            </textarea>
            <div class="input-group-addon">
              <button id="chatSendBtn" type="submit" class="btn btn-primary btn-fab btn-fab-mini chat-input-button hidden">
                <i class="fa fa-send"></i>
              </button>
              <button id="chatUploadBtn" type="button" class="btn btn-fab btn-fab-mini chat-input-button"
                ngf-select="uploadFile($file)" accept="image/*" ngf-fix-orientation="true">
                <i class="fa fa-paperclip"></i>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
