<div id="chat" class="chat">
  <div class="scrollable" hm-swipeleft="showPad();" hm-manager-options='{ "cssProps": { "userSelect": true } }'>
    <div class="scrollable-content section" ui-scroll-top="nextPage()">
      <ul class="chat-messages"
          ng-repeat="msg in project.chat | limitTo:pageSize:pageOffset"
          chat-scroll
          bindonce>
        <li id="newMessages" bo-if="firstNewMessage(msg, $index)" class="new-messages" translate>chat.new_messages</li>
        <li bo-if="dayChange(msg, $index)"
            class="day-change"
            bo-text="dayChange(msg, $index)">
        </li>
        <li class="chat-message"
            bo-if="!isNotificationMessage(msg)"
            bo-class="standpoint(msg)">
          <div class="chat-message-time" bo-text="hour(msg)">
          </div>
          <div class="chat-message-sender"
               bo-if="theirStandpoint(msg)"
               bo-text="msg.who.split('@')[0]">
          </div>
          <div class="chat-message-text" bo-if="!isNotificationMessage(msg)" bo-html="msg.text | linky"></div>
        </li>
      </ul>
    </div>
    <div class="scrollable-footer chat-send-bar">
      <form class="chat-send" ng-submit="send()">
        <div class="input-group">
          <textarea class="form-control chat-textarea"
                    rows="1"
                    msd-elastic
                    ng-model="newMsg"
                    placeholder="{{ 'chat.input' | translate}}"
                    ng-keydown="keyDown($event)">
          </textarea>
          <div class="input-group-addon">
            <button class="btn btn-primary chat-input-button" ng-click="send()">
              <i class="fa i-send"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
