<div class="connection-status">
  <div class="connection-alert alert alert-warning" ng-show="status.connecting || status.disconnected">
    <div ng-show="status.connecting" translate>
      connection.init
    </div>
    <div ng-show="status.disconnected" translate>
      connection.lost
    </div>
    <div ng-show="status.desync" translate-values="{time: '{{status.lastSync | amTimeAgo }}'}" translate>
      connection.sync
    </div>

    <button class="btn btn-default pull-right" ng-click="refresh()">
      <i class="fa fa-refresh"></i> <span translate>connection.refresh</span>
    </button>
    <div class="clearfix"></div>
  </div>
</div>
