<div class="frontpage">
  <div class="scrollable">
    <div class="scrollable-content">

      <div class="section frontpage-slider">
        <div class="swiper-container frontpage-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="images/app-logo.png" class="welcome-logo img-responsive"/>
              <div class="welcome-msg" translate>
                frontpage.welcome_msg
              </div>
            </div>
            <div class="swiper-slide">
              <div class="welcome-icon welcome-icon-explore">
                <i class="fa fa-map-signs"></i>
              </div>
              <div class="welcome-msg" translate>
                frontpage.copy.explore
              </div>
            </div>
            <div class="swiper-slide">
              <div class="welcome-icon welcome-icon-propose">
                <i class="fa fa-bullhorn"></i>
              </div>
              <div class="welcome-msg" translate>
                frontpage.copy.propose
              </div>
            </div>
            <div class="swiper-slide">
              <div class="welcome-icon welcome-icon-work">
                <i class="fa fa-cogs"></i>
              </div>
              <div class="welcome-msg" translate>
                frontpage.copy.work
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>

      <div class="frontpage-communities">
        <communities></communities>
      </div>
    </div>
  </div>
</div>
