<div class="cta-placeholder">
  <button class="btn btn-info cta-btn-2"
   ng-class="project.isSupporter()? 'active':''"
   like
   like-icon="true"
   like-model="project"
   like-copy-on="project.section.support.btn.undo"
   like-copy-off="project.section.support.btn.do">
  </button>

  <button class="btn btn-info cta-btn-2"
   ng-class="project.isContributor()? 'active':''"
   join
   join-icon="true",
   join-model="project"
   join-copy-on="project.section.participate.btn.undo"
   join-copy-off="project.section.participate.btn.do"
   analytics-on="click"
   analytics-event="Join project">
  </button>
</div>
