
<div class="scrollable menu">
  <div class="scrollable-header overflow-ellipsis" ui-turn-off="uiSidebarLeft" translate>menu.title</div>

  <div class="scrollable-content">
    <div class="list-group">
      <a class="list-group-item" href="#/communities" translate>menu.communities.find</a>
      <a class="list-group-item" href="#/communities/new" translate>menu.communities.create</a>
      <a class="list-group-item" href="#/communities/{{support.communityId}}/projects/{{support.projectId}}" ng-if="support" translate>menu.support</a>
    </div>
  </div>
</div>
