
<div class="menu">
  <div class="menu-header" ui-turn-off="uiSidebarLeft">
    <a>&times;</a>
  </div>
  <div class="menu-session">
    <div class="menu-session-guest" ng-click="register()" ng-if="!loggedIn()">
      <div class="menu-session-img">
        <div class="avatar">
          <img src="images/anonymous-avatar.png" />
        </div>
      </div>
      <div class="menu-session-body">
        <div class="menu-session-nick" translate>
          menu.session.guest
        </div>
        <div class="menu-session-tip" translate>
          menu.session.tip
        </div>
        <div class="menu-session-action" translate>
          menu.session.action
        </div>
      </div>
    </div>

    <div class="menu-session-logged-in" ng-if="loggedIn()">
      <div class="menu-session-img">
        <div avatars="user.id" class="avatars"></div>
      </div>
      <div class="menu-session-body">
        <div class="menu-session-nick">
          <a href="/#/users/{{user.id}}">{{user.nick}}</a>
        </div>
        <div class="menu-session-tip">
          <div translate translate-values="{count: '{{userCommunitiesCount}}'}">
            menu.session.communities
          </div>
          <div translate translate-values="{count: '{{userProjectsCount}}'}">
            menu.session.projects
          </div>
        </div>
        <div class="menu-session-action">
          <button class="btn btn-link" ng-click="logout()" translate>
            menu.session.logout
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="menu-content list-group">
    <a class="list-group-item" href="#/home/teems" ng-if="loggedIn()" translate>menu.homeProjects.title</a>
    <a class="list-group-item" href="#/home/communities" ng-if="loggedIn()" translate>menu.homeCommunities.title</a>
    <a class="list-group-item" href="#/communities" translate>menu.communities.title</a>
    <a class="list-group-item" href="#/projects/{{support.projectId}}" ng-if="support" translate>menu.feedback.title</a>
  </div>
</div>
