<div class="pad-wrapper pad-flex" ng-class="pad.editing ? 'project-pad-editing' : ''">
  <div class="pad no-pointer pad-flex" ng-click="editOn()" ui-outer-click="editOff()" ui-outer-click-if="pad.editing && !pad.selectingFile"
  ngf-drop="widget('img', $file)" ngf-fix-orientation="true" ng-class="{scrollable: pad.editing && project.isParticipant() && !isDesktop()}">
    <div ng-if="pad.editing && project.isParticipant()">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group btn-group-xs" role="group" aria-label="First group">
          <button ng-repeat="(btn, isActive) in buttons" type="button" ng-click="annotate(btn)" class="btn btn-raised btn-link btn-xs" ng-class="{'btn-info': isActive}">
            <i class="fa fa-{{btn}}"></i>
          </button>
          <span ngf-select="widget('img', $file)" accept="image/*" ng-fix-orientation="true">
            <button type="button" ng-click="widget('img')" class="btn btn-raised btn-link btn-xs">
              <i class="fa fa-image"></i>
            </button>
          </span>
          <button type="button" ng-click="widget('need')" class="btn btn-raised btn-link btn-xs">
            <i class="fa i-need"></i>
          </button>
        </div>
      </div>
    </div>
    <div
      class="swellrt-editor pad-flex"
      ng-class="{'scrollable-content': pad.editing && project.isParticipant() && !isDesktop()}"
      swellrt-editor-on-ready="padReady"
      swellrt-editor-on-create="padCreate"
      editable="{{project.isParticipant()}}"
      ng-model="project.pad"
      placeholder="{{ 'pad.placeholder' | translate }}"
      id="pad"
      block-edit="{{!project.isParticipant()}}">
    </div>
  </div>
</div>
