<div ng-include="'navbar_top/project.html'"></div>

<div class="project">
  <div class="project-navigation">
    <div class="btn-group justified">
      <a ui-set="{'projectTab': 'pad'}"
         ui-class="{'active': projectTab == 'pad'}"
         class="nav-pad">
        <span translate>pad.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('pad')"></span> </a>
      <a ui-set="{'projectTab': 'needs'}"
         ui-class="{'active': projectTab == 'needs'}"
         class="nav-needs">
        <span translate>need.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('needs')"></span> </a>

      <a ui-set="{'projectTab': 'chat'}"
         ui-class="{'active': projectTab == 'chat'}"
         class="nav-chat"
         ng-if="project.isContributor()">
        <span translate>chat.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('chat')"></span> </a>
    </div>
  </div>

  <div class="project-tabs-container">
    <div ui-state="projectTab" class="project-tabs">
      <div ui-if="projectTab == 'pad'">
        <div class="scrollable">
          <div class="scrollable-content">
            <div class="section project-header" ng-if="!ed.editting">
              <div class="project-photo">
                project photo
              </div>
              <h1>{{project.title}}</h1>
              <div class="project-communities">
                <span ng-repeat="c in project.loadedCommunities">{{ $index > 0 ? ', ' : '' }}<a ng-href="/communities/{{ urlId(c.id) }}">{{ c.name }}</a></span>
                todo: project.loadedCommunities
              </div>
              <button class="btn btn-primary"
                      ng-if="!project.isContributor()"
                      join
                      join-icon="false",
                      join-model="project"
                      join-copy-on="project.participate.btn.undo"
                      join-copy-off="project.participate.btn.do"
                      analytics-on="click"
                      analytics-event="Join project">
              </button>
            </div>

            <pad></pad>

            <div class="section project-actions">
              <div class="col-xs-6 project-actions-like">
                <button class="btn btn-link"
                        ng-class="project.isSupporter() ? 'active' : ''"
                        like
                        like-icon="true",
                        like-count="true"
                        like-model="project">
                </button>
              </div>
              <div class="col-xs-6 project-actions-share">
                <a ui-turn-on="shareModalCreate"><i class="fa i-share"></i></a>
              </div>
            </div>

            <div class="section project-participants" ng-if="!ed.editting">
              <h2 translate translate-values="{ count: '{{ project.contributors.length }}'}">
                  project.section.participats.title
              </h2>

              <div avatars="project.contributors" avatars-name="true" class="avatars"></div>
            </div>
          </div>
        </div>
      </div>

      <div ui-if="projectTab == 'needs'">
        <div class="scrollable">
          <div class="scrollable-content section">
            <div need-list project="project" needs="project.needs" ng-class="project.isContributor() ? '' : 'has-cta'"/>
            </div>
          </div>
        </div>
      </div>

      <!-- ng-if is not compatible with ui-if -->
      <div ng-if="project.isContributor()">
        <div ui-if="projectTab == 'chat'">
          <chat></chat>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Uses a second modal ui-yield-to. See https://github.com/mcasimir/mobile-angular-ui/pull/286 -->
<div ui-content-for="modals2">
  <div class="modal modal-overlay" ui-if="projectTitleReminder" ui-state="projectTitleReminder">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p translate>project.title.reminder.body_one</p>
          <strong><p translate>project.title.reminder.body_two</p></strong>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default project-title-reminder-btn" ng-click="cancelProject()" translate>project.title.reminder.button_cancel</button>
          <button class="btn btn-primary project-title-reminder-btn" ng-click="titleReminder()" translate>project.title.reminder.button_continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
