<div>
  <div class="form-group label-floating" ng-class="{'is-empty': !ng.model.length}">
    <div class="input-group">
      <span class="input-group-addon">
        <i class="fa fa-plus-circle"></i>
      </span>
      <label class="control-label">{{placeholder}}</label>
      <selectize
      multiple="multiple"
      config="config"
      options="options"
      ng-model="ng.model"
      class="form-control"
      ></selectize>
    </div>
  </div>
</div>
<div>
  <div class="selector-has-modal" ng-if="selectorModal">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-header-title">
          {{placeholder}}
        </div>
        <div class="btn-group pull-left">
          <div class="modal-header-left">
            <a ng-click="select()">&times;</a>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form-group label-floating" ng-class="{'is-empty': !ng.model.length}">
          <div class="input-group">
            <span class="input-group-addon">
              <i class="fa fa-plus-circle"></i>
            </span>
            <label class="control-label">{{placeholder}}</label>
            <selectize
            multiple="multiple"
            config="config"
            options="options"
            ng-model="ng.model"
            class="form-control"
            ></selectize>
            <button class="btn btn-primary project-title-reminder-btn" ng-click="select()" translate>selector.button_continue</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
