 <div class="modal" ui-if="shouldLoginSharedState" ui-state="shouldLoginSharedState">
   <div class="modal-backdrop in" ui-turn-off="shouldLoginSharedState"></div>
   
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <button class="close"
                 ui-turn-off="shouldLoginSharedState">&times;</button>
         <h4 class="modal-title" translate>login.should_be_logged.message</h4>
       </div>
       <div class="modal-body">
         <div ng-include="'session/form.html'" ng-controller="SessionCtrl"></div>
       </div>
     </div>
   </div>
 </div>
