<modal name="uploadPicture">
  <header translate>picture.title</header>
  <main>
    <div ngf-drop ngf-select ng-model="pic.pictureFile" class="drop-box"
    ngf-drag-over-class="'dragover'" accept="image/*" ngf-select-disabled="pic.pictureFile"
    ngf-pattern="'image/*'" dragover-text="{{'picture.dropover' | translate}}">
      <div ng-hide="pic.pictureFile" class="drop-box-center">
        <span translate>picture.upload</span>
      </div>
      <div ng-show="pic.pictureFile" class="crop-box">
        <img-crop image="pic.pictureFile | ngfDataUrl" result-image="pic.croppedPicture"
        area-type="{{areaType}}" aspect-ratio="aspectRatio" result-image-size="imgSize" init-max-area="true"></img-crop>
      </div>
    </div>
  </main>
  <footer>
    <!-- TODO Uncomment when https://github.com/P2Pvalue/swellrt/issues/129 is solved:
    <button ng-click="updatePicture()" class="btn btn-link" translate>picture.delete</button> -->
    <button ng-click="updatePicture(pic.croppedPicture)" ng-disable="!pic.pictureFile" class="btn btn-primary" translate>picture.save</button>
  </footer>
</modal>
