<div class="frontpage">
  <div class="scrollable">
    <div class="scrollable-content">

      <div class="section walkthrough-content">
        <div class="swiper-container swiper-container-horizontal">
          <div class="swiper-wrapper">
            <div class="swiper-slide" ng-repeat="i in [0,1,2]">
               <img ng-src="images/walkthrough-{{i+1}}.svg" class="welcome-logo img-responsive">
               <div class="carousel-caption">
                 <div class="row">
                   <h2>{{'walkthrough.slide'+(i+1) | translate}}</h2>
                   <br>
                   <button ng-if="i !== 2" class="btn btn-link btn-lg text-uppercase" ng-click="close()" translate>walkthrough.skip</button>
                   <button ng-if="i === 2" class="btn btn-primary btn-lg text-uppercase" ng-click="close()" translate>walkthrough.button</button>
                 </div>
               </div>
             </div>
           </div>
          </div>
          <div class="swiper-pagination swiper-pagination-bullets"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
  </div>
</div>
