<div class="flex-center social-networks">
  <div>
    <a class="btn btn-default btn-fab"
    socialshare
    socialshare-provider="facebook"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}"
    socialshare-media="{{project.logoUrl()}}">
    <i class="fa fa-facebook"></i></a>

    <a class="btn btn-default btn-fab"
    socialshare
    socialshare-provider="twitter"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}">
    <i class="fa fa-twitter"></i></a>

    <a class="btn btn-default btn-fab visible-xs-inline-block"
    socialshare
    socialshare-provider="whatsapp"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}">
    <i class="fa fa-whatsapp"></i></a>

    <a class="btn btn-default btn-fab visible-xs-inline-block"
    socialshare
    socialshare-provider="sms"
    socialshare-text="{{project.title + ' ' + project.url()}}">
    <i class="material-icons">sms</i></a>
  </div>
</div>
