<div class="flex-center">
  <div>
    <button type="button" class="btn btn-default btn-fab fa fa-facebook"
    socialshare
    socialshare-provider="facebook"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}"></button>
    <button type="button" class="btn btn-default btn-fab fa fa-twitter"
    socialshare
    socialshare-provider="twitter"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}"></button>
    <button type="button" class="btn btn-default btn-fab fa fa-whatsapp visible-xs-inline-block"
    socialshare
    socialshare-provider="whatsapp"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}"></button>
    <button type="button" class="btn btn-default btn-fab fa fa-mobile visible-xs-inline-block"
    socialshare
    socialshare-provider="sms"
    socialshare-text="{{project.title + ' ' + project.url()}}"></button>
  </div>
</div>
