<div class="btn-group btn-group-justified" role="group" aria-label="external social networks">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default fa fa-facebook"
    socialshare
    socialshare-provider="facebook"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}">Facebook</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default fa fa-twitter"
    socialshare
    socialshare-provider="twitter"
    socialshare-text="{{project.title}}"
    socialshare-url="{{project.url()}}">Twitter</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default fa fa-google-plus"
    socialshare
    socialshare-provider="google"
    socialshare-url="{{project.url()}}">Google+</button>
  </div>
</div>
