<div content-for="nav-title">
  <div class="community-name overflow-ellipsis">atd</div>
  <div class="task-index" translate>tasks.index.title</div>
</div>
<div content-for="nav-left">
  <div ng-click="$window.history.back"><i class="fa fa-chevron-left"></i></div>
</div>
<div content-for="nav-right">
  <div ng-click="new()"><i class="fa fa-plus"></i></div>
</div>

<div class="col-md-12">
  <div class="row job-item" ng-repeat="task in tasks">
    <div class="col-md-12">
      <div ng-click="toggleCompleted(task)" class="job-check-container pull-left">
        <div ng-class="task.completed ? 'fa fa-square-o job-checkbox' : 'fa fa-check-square-o job-checkbox job-checkbox-checked' "></div>
      </div>
      <div ng-click="editTask(task)" class="job-media media">
        <div class="media-body">
          <h4 class = "media-heading job-name overflow-ellipsis">
            {{task.name}}
          </h4>
          <span ng-repeat="asig in task.assignees" class="job-assignees">
            {{asig.name +  ($last ? '' : ', ')}}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
