<div class="project-form-image text-center">

  <h2 translate>project.form.image.banner.title</h2>

  <div>
    <div class="drop-box four-three" ng-if="!pic.camera"
        ngf-drop ng-model="pic.pictureFile"
        ngf-drag-over-class="'dragover'" dragover-text="{{'picture.dropover' | translate}}">
      <div class="drop-box-center" ng-hide="pic.pictureFile">
        <div class="i-upload" ngf-select ng-model="pic.pictureFile" accept="image/*" ngf-pattern="'image/*'">
        <span translate>picture.upload</span>
        </div>
        <div class="i-camera" ng-click="pic.camera=true; pic.croppedPicture=false">
          <span translate>Take a photo</span>
        </div>
      </div>
      <div ng-show="pic.pictureFile" class="crop-box">
        <img-crop image="pic.pictureFile | ngfDataUrl" result-image="pic.croppedPicture" result-image-size="{w: 1200, h: 900}"
                  area-type="rectangle" aspect-ratio="1.3333" init-max-area="true"></img-crop>
      </div>
    </div>
    <div ng-if="pic.camera">
      <selfie result-image="pic.croppedPicture" />
    </div>
  </div>

  <!--<div>
    <div class="drop-box four-three" ng-if="!pic.camera && !pic.pictureFile">
      <div class="drop-box-center">
        <div ngf-select ng-model="pic.pictureFile" accept="image/*" ngf-pattern="'image/*'" class="flex-container">
          <i class="material-icons big blue">file_upload</i><span translate>picture.upload</span>
        </div>
        <div class="flex-container" ng-click="pic.camera=true; pic.croppedPicture=false">
          <i class="material-icons big blue">camera</i><span translate>Take a photo</span>
        </div>
      </div>
    </div>
    <div class="dropbox four-three" ng-if="pic.pictureFile">
      <div class="crop-box">
        <img-crop image="pic.pictureFile | ngfDataUrl" result-image="pic.croppedPicture" result-image-size="{w: 1200, h: 900}"
          area-type="rectangle" aspect-ratio="1.3333" init-max-area="true"></img-crop>
      </div>
    </div>
    <div ng-if="pic.camera">
      <selfie result-image="pic.croppedPicture" />
    </div>
  </div>
</div>-->
