<div class="project-form-image text-center">

  <h2 translate>project.form.image.banner.title</h2>

  <div>
    <div ngf-drop ngf-select ng-model="pic.pictureFile" class="drop-box"
         ngf-drag-over-class="'dragover'" accept="image/*" ngf-select-disabled="pic.pictureFile"
         ngf-pattern="'image/*'" dragover-text="{{'picture.dropover' | translate}}">
      <div ng-hide="pic.pictureFile" class="drop-box-center">
        <i class="material-icons big blue">file_upload</i><span translate>picture.upload</span>
      </div>
      <div ng-show="pic.pictureFile" class="crop-box">
        <img-crop image="pic.pictureFile | ngfDataUrl" result-image="pic.croppedPicture" result-image-size="{w: 1200, h: 900}"
                  area-type="rectangle" aspect-ratio="1.3333" init-max-area="true"></img-crop>
      </div>
    </div>
  </div>


  <button class="btn" ng-disabled="!pic.pictureFile" ng-click="pic.pictureFile=null" translate>picture.clear</button>
</div>
