<div class="project-form-next">
  <button class="btn"
  ng-if="form() === 'image' && (pic.pictureFile || pic.croppedPicture || pic.camera)"
  ng-click="pic.pictureFile=null; pic.croppedPicture=null; pic.camera=false"
  translate>picture.clear</button>

  <div ng-class="{'pull-right': nextForm()}">
    <span class="project-form-next-message" ng-if="form() === 'image' && !pic.croppedPicture || form() === 'share'"
      ng-disabled="createProjectFormInvalid()"
      ng-click="goToNextForm()"
      analytics-category="Create project"
      analytics-event="Next"
      analytics-label="Form"
      analytics-value="{{ nextForm() || 'finish' }}"
      translate>
      project.form.share.next.message
    </span>
    <button class="btn btn-primary"
            ng-class="nextForm() ? 'btn-link btn-form-next' : 'btn-block btn-raised'"
            ng-disabled="createProjectFormInvalid()"
            ng-click="goToNextForm()"
            analytics-category="Create project"
            analytics-event="Next"
            analytics-label="Form"
            analytics-value="{{ nextForm() || 'finish' }}">
            <span ng-bind="nextForm() ? 'project.form.next' : 'project.form.finish' | translate"></span>
            <i class="i-next" ng-if="nextForm()"></i>
    </button>
  </div>
</div>
