<div>
  <div class="project-photo" ui-set="{modalSharedState: {name: 'uploadPicture', callback: uploadProjectPhoto}}" ng-if="project.isParticipant()">
    <img class="media-object" ng-src="{{project.logo()}}">
  </div>
  <div class="project-photo" ng-if="!project.isParticipant()">
    <img class="media-object" ng-src="{{project.logo()}}">
  </div>
</div>
<div class="project-title-editable">
  <input class="h1 title-input form-control" ng-model="project.title"
  placeholder="{{'project.title.placeholder' | translate}}" ng-disabled="!project.isParticipant()">

  <button class="btn btn-default like-icon"
          like
          like-icon="true"
          like-count="true"
          like-model="project">
  </button>

  <div class="icons" ng-if="project.isParticipant()">
    <i ng-click="focusTitleInput()" class="material-icons" uib-tooltip="{{'project.tooltip.edit' | translate}}">edit</i>
    <!--<i ng-click="archiveProject()" class="material-icons secundary-icon" uib-tooltip="{{'project.tooltip.archive' | translate}}">archive</i>-->
    <i class="material-icons secundary-icon"
    uib-tooltip="{{'project.tooltip.delete' | translate}}"
    ui-set="{modalSharedState: {
      name: 'confirm',
      title: 'project.cancel.confirm.title',
      text: 'project.cancel.confirm.text',
      callback: cancelProject
    }}">delete</i>
  </div>

  <button class="btn btn-lg btn-primary btn-raised project-join-btn"
          ng-if="!project.isParticipant()"
          join
          join-icon="false",
          join-model="project"
          join-copy-on="project.participate.btn.undo"
          join-copy-off="project.participate.btn.do"
          analytics-on="click"
          analytics-event="Join project">
  </button>
</div>

<div>

  <div class="project-info col-md-2">
    <div class="project-info-inner flex-container flex-scroll">
      <div class="project-outline" ng-include="'projects/outline.html'"></div>
      <div>&nbsp;</div>
    </div>
  </div>

  <div class="project-main col-md-7">
    <div class="flex-container">
      <pad editing-default="true" class="flex-container"></pad>
    </div>
  </div>

  <div class="project-utils col-md-3">
    <div>
      <h2 translate>need.nav.title</h2>
      <div need-list project="project" needs="project.needs" display="panel" class="flex-container" ng-class="project.isParticipant() ? '' : 'has-cta'"></div>
    </div>
    <div project-people></div>
  </div>
</div>
