<div class="project-navigation">
  <div class="btn-group justified">
    <a ui-set="{'projectTab': 'pad'}"
       ui-class="{'active': projectTab == 'pad'}"
       class="nav-pad">
      <span translate>pad.nav.title</span>
      <span class="material-icons notification-indicator" ng-if="hasChanged('pad')">fiber_manual_record</span> </a>
    <a ui-set="{'projectTab': 'needs'}"
       ui-class="{'active': projectTab == 'needs'}"
       class="nav-needs">
      <span translate>need.nav.title</span>
      <span class="material-icons notification-indicator" ng-if="hasChanged('needs')">fiber_manual_record</span> </a>

    <a ui-set="{'projectTab': 'chat'}"
       ui-class="{'active': projectTab == 'chat'}"
       class="nav-chat"
       ng-if="project.isParticipant()">
      <span translate>chat.nav.title</span>
      <span class="material-icons notification-indicator" ng-if="hasChanged('chat')">fiber_manual_record</span> </a>
  </div>
</div>

<div class="project-tabs-container" ng-class="{'xs-hidden-tabs': areTabsHidden() || isNew()}">
  <div ui-state="projectTab" class="project-tabs" ng-class="{'project-tabs-overflow': !(pad.editing && !isDesktop())}">
    <div ui-if="projectTab == 'pad'" hm-swipeleft="swipeToNeeds" hm-manager-options='{{hmManagerOpt}}' hm-recognizer-options='{{hmRecognizerOpt}}'
         class="flex-container touchable" ng-include="'projects/project/mobile/pad.html'">
    </div>

    <div ui-if="projectTab == 'needs'" hm-swipeleft="swipeToChat" hm-swiperight="swipeToPad" hm-manager-options='{{hmManagerOpt}}' hm-recognizer-options='{{hmRecognizerOpt}}'>
      <div class="scrollable">
        <div class="scrollable-content">
          <div need-list project="project" needs="project.needs" ng-class="project.isParticipant() ? '' : 'has-cta'">
          </div>
        </div>
      </div>
    </div>

    <!-- ng-if is not compatible with ui-if -->
    <div class="flex-container" ui-if="projectTab == 'chat'">
      <div class="flex-container" ng-if="project.isParticipant()" hm-swiperight="swipeToNeeds" hm-manager-options='{{hmManagerOpt}}'  hm-recognizer-options='{{hmRecognizerOpt}}'>
        <chat class="flex-container"></chat>
      </div>
    </div>
  </div>
</div>
