<div ng-class="{'hidden': pad.editing}">
  <div ng-include="'projects/project/item.html'"></div>
</div>

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="{{'pad.nav.title' | translate}}">
        <md-content class="md-padding">
          <div ng-include="'projects/project/mobile/pad.html'"></div>
        </md-content>
      </md-tab>
      <md-tab label="{{'need.nav.title' | translate}}">
        <md-content class="md-padding">
          <div need-list project="project" needs="project.needs"></div>
        </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>
