<div class="project-photo">
  <div ng-if="project.logo()===' '" class="spinner-container">
    <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
      <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
    </svg>
  </div>
  <img class="media-object" ng-src="{{project.logo()}}">
  <div class="flex-container">
    <div ng-if="project.isParticipant()" class="project-photo-edit-hover">
      <span class="i-photo-camera" ui-set="{'modal.uploadPicture': {name: 'uploadPicture', callback: uploadProjectPhoto}}"></span>
      <span ui-set="{'modal.uploadPicture': {name: 'uploadPicture', callback: uploadProjectPhoto}}" translate>project.menu.change_photo</span>
    </div>
    <a class="project-back-arrow" ng-href="{{project.isParticipant() ? 'home/teems' : 'teems'}}"><i class="material-icons">arrow_back</i></a>
    <div ng-class="{'i-featured': project.isFeatured()}" class="text-right"></div>
    <div class="project-item-info flex-container hidden">
      <a href="" class="project-item-community">{{project.loadedCommunities.length ? project.loadedCommunities[0].name : ''}}</a>
      <div class="project-item-title">{{project.title}}</div>
    </div>
    <div class="project-item-icons">
      <i class="i-share icon-count"
         ui-set="{'modal.share': 'shareModalCreate'}"
         analytics-on="click"
         analytics-category="Share project"
         analytics-event="Click to share"></i>
      <i class="i-community icon-count">
        <span class="icon-count-number">{{project.participantCount()}}</span>
      </i>
    </div>
  </div>
</div>
