<div class="project-photo">
  <img class="media-object" ng-src="{{project.logo()}}">
  <div class="flex-container">
    <div ng-class="{'i-featured': project.featured}" class="text-right"></div>
    <div class="project-item-info flex-container hidden">
      <div class="project-item-title">{{project.title}}</div>
      <div class="project-item-community">{{project.loadedCommunities.length ? project.loadedCommunities[0].name : '&nbsp;'}}</div>
    </div>
    <div class="project-item-icons">
      <i class="i-share icon-count" ui-set="{'modal.share': 'shareModalCreate'}"></i>
      <i class="i-community icon-count">
        <span class="icon-count-number">{{project.participantCount()}}</span>
      </i>
    </div>
  </div>
</div>
