<div class="row">
  <div class="col-md-12">
    <form class="project-form" role="form">
      <div class="form-group">
        <label class="control-label" translate>project.project_name</label>
        <input id="project_name" class="form-control" type="text" ng-model="project.name"></input>
      </div>
      <div class="form-group">
        <label class="control-label" translate>project.project_status</label>
        <input id="project_status" class="form-control" type="text" ng-model="project.status"></input>
      </div>
      <div class="form-group">
        <label class="control-label" translate>project.project_description</label>
        <textarea class="form-control" ng-model="project.description"></textarea>
      </div>
    </form>
  </div>
</div>
