<div ui-content-for="nav-title">
  <span translate>project.index.title</span>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div class="section projects">
      <h1>{{'project.index.' + context + '.title' | translate}}</h1>
      <div class="project-index-tip">
        {{'project.index.' + context + '.tip' | translate: translationData}}
      </div>
      <projects project-list="projects"></projects>
    </div>
  </div>
</div>

<plus plus-type="project" plus-community="community"></plus>

<div class="projects-welcome" ng-if="! community && emptyProjects()">
  <div class="alert alert-info">
    <span translate>project.welcome.tip</span>
  </div>
</div>
