<div ui-content-for="nav-right">
  <div class="btn-group pull-right nav-right-menu">
    <a ui-turn-on="dropdownProjectMenu" class="btn">
      <i class="fa fa-ellipsis-v"></i>
    </a>
    <ul ui-state="dropdownProjectMenu" class="dropdown-menu ng-hide"
        ui-outer-click="Ui.turnOff('dropdownProjectMenu')"
        ui-outer-click-if="Ui.active('dropdownProjectMenu')"
        role="menu" ui-show="dropdownProjectMenu"
        ui-turn-off="dropdownProjectMenu">

      <li ng-if="community.isParticipant()"><a ui-turn-on="communitySettings"><span translate>community.menu.settings</span></a></li>
      <li><a participate participate-copy-on="community.menu.leave" participate-copy-off="community.menu.join" participate-model="community"></a></li>
    </ul>
  </div>
</div>

<div ui-content-for="nav-title">
  <div class="overflow-ellipsis" ng-if="community">{{ community.name }}</div>
  <div ng-if="! community" translate>project.index.title</div>
</div>

<div id="projects" class="section projects">
  <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group" ng-if="!emptyProjects()">
        <div class="project-item list-group-item" ng-repeat="project in projects| orderBy: '-lastChange().getTime()'" ng-click="showProject(project)" ng-if="project.title!==''">

          <div class="media">
            <div class="media-left">
              <img class="media-object" alt="Teem photo" />
            </div>
            <div class="media-body">
              <h4 class="media-heading">
                <span class="project-item-title">{{project.title}}</span>
              </h4>

              <div class="project_description">
                todo: coger el texto del pad, sin cargar el pad?
              </div>

              <div class="project-sections">
                <div class="project-sections-participants col-xs-4">
                  <i class="fa i-community"></i> {{ project.contributors.length }}

                </div>

                <div class="project-sections-needs col-xs-4">
                  <i class="fa i-need"></i> {{ project.needIncompletedCount() }}
                </div>

                <div class="project-sections-chat col-xs-4">
                  <i class="fa i-message"></i> {{ project.newMessagesCount() }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="projects-welcome" ng-if="! community && emptyProjects()">
        <div class="alert alert-info">
          <span translate>project.welcome.tip</span>
        </div>
      </div>

      <div class="community-welcome" ng-if="community && emptyProjects()">
        <div class="jumbotron">
          <h1 translate>community.welcome.title</h1>
          <p translate>
            community.welcome.message
          </p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 translate>community.welcome.next.title</h2>
            </div>

            <ul class="list-group">
              <li class="list-group-item">
                <div translate>
                  community.welcome.next.description.tip
                </div>

                <div>
                  <button class="btn btn-primary pull-right"
                          ui-turn-on="communitySettings"
                          translate>
                    community.welcome.next.description.button
                  </button>
                </div>
                <div class="clearfix">
                  <!-- Fix floating button -->
                </div>
              </li>
              <li class="list-group-item">
                <div translate>
                  community.welcome.next.workspace.tip
                </div>

                <div>
                  <button class="btn btn-primary btn-new-project pull-right"
                          ng-click="new_()"
                          ng-disabled="created"
                          analytics-on="click"
                          analytics-event="Create project"
                          translate>
                    community.welcome.next.workspace.button
                  </button>
                </div>
                <div class="clearfix">
                  <!-- Fix floating button -->
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="cta-placeholder" ng-if="community && !emptyProjects()">
  <button class="btn btn-info cta-btn"
          ng-click="participate()"
          ng-if="!community.isParticipant()">
      <span translate>community.participate.button</span>
  </button>

  <button class="btn btn-info cta-btn"
          ng-click="new_()"
          ng-if="community.isParticipant()"
          ng-disabled="created"
          analytics-on="click"
          analytics-event="Create project">
      <span translate>project.create.button</span>
  </button>
</div>

<div ui-content-for="modals">
  <div class="modal modal-community-settings" ui-if="communitySettings" ui-state="communitySettings">
    <div class="modal-backdrop in" ui-turn-off="communitySettings"></div>

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close"
                  ui-turn-off="communitySettings">&times;</button>
            <h4 class="modal-title" translate translate-values="{ name: '{{ community.name }}' }">community.settings.title</h4>
        </div>
        <div class="modal-body">
          <form class="community-settings">
            <div connection-status></div>

            <div class="form-group">
              <label for="communityName" translate>community.settings.name.label</label>
              <input type="text"
                     class="form-control"
                     id="communityName"
                     ng-model="community.name"
                     saving-status
                     placeholder="{{ 'community.settings.name.placeholder' | translate }}">
            </div>
            <div class="form-group">
              <label for="communityDescription" translate>community.settings.description.label</label>
              <textarea class="form-control"
                        msd-elastic="\n"
                        ng-model="community.description"
                        saving-status
                        placeholder="{{ 'community.settings.description.placeholder' | translate}}"></textarea>
            </div>
            <div class="form-group">
              <button ui-turn-off="communitySettings"
                      class="btn btn-default pull-right"
                      translate>
                community.settings.close
              </button>
            </div>
            <div class="clearfix">
              <!-- Fix floating close button -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
