<div ui-content-for="nav-left">
  <a href="#/communities"><i class="fa fa-chevron-left"></i></a>
</div>

<div ui-content-for="nav-title">
  <div class="overflow-ellipsis">{{ community.name }}</div>
  <div ui-content-for="nav-subtitle">
    <span translate>
      project.index.title
    </span>
  </div>
</div>

<div id="projects" class="section projects">
  <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group">
        <div class="project-item list-group-item" ng-repeat="project in projects" ng-click="showProject(project.id)">
          <div class="media">
            <div class="media-body">
              <h4 class="media-heading">
                <i class="fa" ng-class="shareIcon(project)"></i>
                <span class="project-title">{{project.title}}</span>
              </h4>
              <div class="project-sections justified">
                <div class="project-promoters">
                  <h5>&nbsp;</h5>
                  <div class="project-avatars swellrt-avatars" ng-model="project.contributors"></div>
                </div>
                <div class="project-needs">
                  <a ng-href="#/communities/{{urlId(community.id)}}/projects/{{urlId(project.id)}}/needs">
                    <h5 translate>project.section.needs.title</h5>
                    <div class="progress">
                      <div class="progress-bar" ng-class="'progress-bar-' + progressType(project)" role="progressbar" ng-attr-aria-valuenow="{{progressPercentage(project)}}" aria-valuemin="0" aria-valuemax="100" ng-style="{ 'width': progressPercentage(project) + '%' }">
                      <span class="sr-only">60% Complete</span>
                      </div>
                    </div>
                  </a>
                </div>
                <div class="project-support">
                  <h5 translate>project.section.support.title</h5>
                  <div class="project-support-number">
                    {{ supporterCount(project) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-show="emptyProjects()" class="new-project-item list-group-item">
          <div class="new-project-description tip" translate>project.create.tip</div>
          <button class="btn btn-primary btn-block btn-lg new-project-btn" ng-click="new_()">
            <i class="fa fa-plus-circle"></i>
            <span translate translate-values="{ name: '{{newCommunityName.name}}' }">project.create.button</span>
          </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-include="'navbar_bottom/projects.html'"></div>

<div ng-hide="emptyProjects()" class="new-item new-project">
  <a ng-click="new_()"><i class="fa fa-plus-circle"></i></a>
</div>
