
<div ui-content-for="nav-title">
  <div class="community-title overflow-ellipsis">
    {{community.name}}
  </div>
</div>

<div ng-include="'navbar_top/project_info.html'"></div>

<div class="section project">
  <div class="list-group">
    <div class="scrollable">
      <div class="scrollable-header">
        <div class="list-group-item project-heading">
          <div class="project-heading-section">
            <h4>{{project.title}}</h4>
          </div>
          <div class="project-heading-section">
            <div class="project-support-btn">
              <button class="btn btn-primary"
              ng-class="isSupporter(project) ? 'active' : ''"
              ng-click="toggleSupport(project);"
              translate>{{ isSupporter(project) ? 'project.section.support.btn.doing' : 'project.section.support.btn.do' }}</button>
            </div>
          </div>
        </div>
        <div class="list-group-item project-support" ng-if="nav('information')">
          <h5 translate>project.section.support.title</h5>
          <div class="project-supports">
            <div class="project-supports-section">
              <div class="project-avatars swellrt-avatars" ng-model="project.supporters"></div>
            </div>
            <div class="project-supports-section">
              <div class="project-support-number">
                {{ project.supporters.length }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollable-content">

        <div class="list-group-item project-description" ng-if="nav('information')">
          <h5 translate>project.section.description.title</h5>
          Lorem fistrum nostrud incididunt reprehenderit de la pradera te voy a borrar el cerito eiusmod tempor qué dise usteer. No puedor reprehenderit adipisicing qué dise usteer te va a hasé pupitaa labore por la gloria de mi madre torpedo consectetur duis. Benemeritaar veniam de la pradera ese pedazo de sexuarl. Sexuarl sexuarl ut cillum dolore occaecat reprehenderit. A peich sexuarl sexuarl amatomaa la caidita te voy a borrar el cerito adipisicing eiusmod. Esse eiusmod magna commodo va usté muy cargadoo. Nisi diodeno te voy a borrar el cerito fistro ut. Commodo adipisicing apetecan a gramenawer ex no te digo trigo por no llamarte Rodrigor se calle ustée cillum commodo aute. Ese que llega dolore consequat sit amet me cago en tus muelas pupita te va a hasé pupitaa jarl me cago en tus muelas labore magna.
        </div>

        <div class="list-group-item project-needs" ng-if="nav('needs')">
          project needs
        </div>

      </div>
    </div>
  </div>
</div>
