
<div ui-content-for="nav-title">
  <div class="community-title overflow-ellipsis">
    {{community.name}}
  </div>
</div>

<div ng-include="'navbar_top/project_info.html'"></div>

<div class="section project">
  <div class="list-group">
    <div class="scrollable">
      <div class="scrollable-header">
        <div class="list-group-item project-heading">
          <div class="project-heading-section">
            <h4>{{project.title}}</h4>
          </div>
          <div class="project-heading-section">
            <div class="project-support-btn">
              <button class="btn btn-primary"
              ng-class="isSupporter(project) ? 'active' : ''"
              ng-click="toggleSupport(project);"
              translate>{{ isSupporter(project) ? 'project.section.support.btn.doing' : 'project.section.support.btn.do' }}</button>
            </div>
          </div>
        </div>
        <div class="list-group-item project-support" ng-if="nav('information')">
          <h5 translate>project.section.support.title</h5>
          <div class="project-supports">
            <div class="project-supports-section">
              <div class="project-avatars swellrt-avatars" ng-model="project.supporters"></div>
            </div>
            <div class="project-supports-section">
              <div class="project-support-number">
                {{ project.supporters.length }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="scrollable-content">

        <div class="list-group-item project-description" ng-if="nav('information')">
          <h5 translate>project.section.description.title</h5>
          Lorem fistrum nostrud incididunt reprehenderit de la pradera te voy a borrar el cerito eiusmod tempor qué dise usteer. No puedor reprehenderit adipisicing qué dise usteer te va a hasé pupitaa labore por la gloria de mi madre torpedo consectetur duis. Benemeritaar veniam de la pradera ese pedazo de sexuarl. Sexuarl sexuarl ut cillum dolore occaecat reprehenderit. A peich sexuarl sexuarl amatomaa la caidita te voy a borrar el cerito adipisicing eiusmod. Esse eiusmod magna commodo va usté muy cargadoo. Nisi diodeno te voy a borrar el cerito fistro ut. Commodo adipisicing apetecan a gramenawer ex no te digo trigo por no llamarte Rodrigor se calle ustée cillum commodo aute. Ese que llega dolore consequat sit amet me cago en tus muelas pupita te va a hasé pupitaa jarl me cago en tus muelas labore magna.
        </div>

        <div class="list-group-item project-needs" ng-if="nav('needs')">
          <div class="list-group project-needs-list">
            <div class="list-group-item need-item" ng-repeat="need in needs">
              <div class="need-sections" ng-click="toggleCommentsVisibility($index)">
                <div class="need-section need-section-status">
                  <!-- fixes icon margin in table-cell -->
                  <div class="need-icon-fix">&nbsp;</div>
                  <i ng-class="need.completed === 'true' ? 'need-checkbox-true' : 'need-checkbox-false'"></i>
                </div>
                <div class="need-section need-text" ng-class="need.completed === 'true' ? 'text-strike' : ''">
                  {{ need.text }}
                </div>
                <div class="need-section need-section-comments">
                  <div class="need-comments-count">
                    {{ need.comments.length }}
                  </div>
                  <div class="need-comments-icon">
                    <i class="fa fa-comment"></i>
                  </div>
                </div>
              </div>
              <div class="need-comments" ng-show="comments.visible[$index]">
                <div class="media" ng-repeat="comment in need.comments">
                  <div class="media-left">
                    <div class="need-comment-avatar swellrt-avatars" ng-model="comment.author"></div>
                  </div>
                  <div class="media-body">
                    <div class="comment-time pull-right">
                      {{ hour(comment) }}
                    </div>
                    <h5 class="media-heading">
                      <span class="comment-author-name">
                        {{comment.author.split('@')[0]}}
                      </span>
                    </h5>
                    {{comment.text}}
                  </div>
                </div>
                <div class="new-need-comment">
                  <form class="new-need-comment-send" ng-submit="sendComment($index)">
                    <div class="input-group">
                      <textarea class="form-control" rows="1" msd-elastic="\n" ng-model="comments.new[$index]" placeholder="{{ 'need.comment.input' | translate}}"/>
                      </textarea>
                      <span class="input-group-addon">
                        <i class="fa fa-chevron-circle-right need-comment-input-button" ng-click="sendComment($index)"></i>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
