<div ng-include="'navbar-top/project.html'"></div>

<div class="project">
  <div class="project-navigation">
    <div class="btn-group justified">
      <a ui-set="{'projectTab': 'pad'}"
         ui-class="{'active': projectTab == 'pad'}"
         class="nav-pad">
        <span translate>pad.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('pad')"></span> </a>
      <a ui-set="{'projectTab': 'needs'}"
         ui-class="{'active': projectTab == 'needs'}"
         class="nav-needs">
        <span translate>need.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('needs')"></span> </a>

      <a ui-set="{'projectTab': 'chat'}"
         ui-class="{'active': projectTab == 'chat'}"
         class="nav-chat"
         ng-if="project.isParticipant()">
        <span translate>chat.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('chat')"></span> </a>
    </div>
  </div>

  <div class="project-tabs-container" ng-class="{'xs-hidden-tabs': areTabsHidden()}">
    <div ui-state="projectTab" class="project-tabs">
      <div ui-if="projectTab == 'pad'" hm-swipeleft="swipeToNeeds" hm-manager-options='{{hmManagerOpt}}' hm-recognizer-options='{{hmRecognizerOpt}}'>
        <div class="scrollable">
          <div class="scrollable-content">
            <div class="section project-header" ng-if="!pad.editing">
              <div class="row">
                <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5 project-photo-responsive">
                  <div ui-set="{uploadPictureSharedState: uploadProjectPhoto}" ui-state="uploadPictureSharedState" ng-if="project.isParticipant()">
                    <img ng-src="{{project.logo()}}">
                  </div>
                  <div ng-if="!project.isParticipant()">
                    <img ng-src="{{project.logo()}}">
                  </div>
                </div>
              </div>
              <div ng-if="! editingTitle()">
                <h1>
                  {{project.title}}
                  <button class="btn btn-link edit-title-btn pull-right" ng-if="project.isParticipant()" ng-click="showEditTitle()">
                    <i class="fa fa-pencil-square-o" ></i>
                  </button>
                </h1>
                <div class="project-communities" ng-if="! isNew()">
                  <span class="comma-separated" ng-repeat="c in communities"><a ng-href="{{ c.path() }}">{{ c.name }}</a></span>
                </div>
              </div>
              <div ng-if="editingTitle()">
                <div class="input-group title-form" ng-if="editingTitle()">
                  <input type="text" hide-tabs
                         class="form-control title-input"
                         ng-model="project.title"
                         placeholder="{{ 'project.title.placeholder' | translate }}">
                  <div class="input-group-addon">
                    <button class="btn btn-link" ng-if="! isNew()" ng-click="hideEditTitle()">
                      <i class="fa fa-check"></i>
                    </button>
                  </div>
                </div>
                <selector
                  multiple
                  config="communitySelector.config"
                  options="communitySelector.options"
                  model="project.communities"
                  placeholder=" 'project.community.placeholder' | translate"
                ></selector>
              </div>
              <div class="project-join" ng-if="!project.isParticipant()">
                <button class="btn btn-primary btn-raised"
                        join
                        join-icon="false",
                        join-model="project"
                        join-copy-on="project.participate.btn.undo"
                        join-copy-off="project.participate.btn.do"
                        analytics-on="click"
                        analytics-event="Join project">
                </button>
              </div>
            </div>

            <pad></pad>

            <div class="section project-add-users"  ng-if="isNew() && !pad.editing">
              <selector multiple
                config="selectizeConfig"
                options="invite.list" model="invite.selected"
                placeholder=" 'project.add_people.placeholder' | translate"></selector>
            </div>

            <div class="section project-actions" ng-if="!isNew() && !pad.editing">
              <div class="icon-count col-xs-6 project-actions-like">
                <button class="btn btn-link"
                        ng-class="project.isSupporter() ? 'active' : ''"
                        like
                        like-icon="true",
                        like-count="true"
                        like-model="project">
                </button>
              </div>
              <div class="icon-count col-xs-6 project-actions-share">
                <a ui-turn-on="shareModalCreate"><i class="fa i-share"></i></a>
              </div>
            </div>

            <div class="section project-participants" ng-if="!isNew() && !pad.editing">
              <h2 translate translate-values="{ count: '{{ project.participantCount() }}'}">
                  project.section.participants.title
              </h2>

              <div avatars="project._participants" avatars-conf="{size: 'small'}" class="avatars"></div>
            </div>
          </div>
          <div class="scrollable-footer" ng-if="isNew() && !pad.editing">
            <div ng-include="'new-form/buttons.html'"></div>
          </div>
        </div>
      </div>

      <div ui-if="projectTab == 'needs'" hm-swipeleft="swipeToChat" hm-swiperight="swipeToPad" hm-manager-options='{{hmManagerOpt}}' hm-recognizer-options='{{hmRecognizerOpt}}'>
        <div class="scrollable">
          <div class="scrollable-content">
            <div need-list project="project" needs="project.needs" ng-class="project.isParticipant() ? '' : 'has-cta'">
            </div>
          </div>
        </div>
      </div>

      <!-- ng-if is not compatible with ui-if -->
      <div ng-if="project.isParticipant()">
        <div ui-if="projectTab == 'chat'" hm-swiperight="swipeToNeeds" hm-manager-options='{{hmManagerOpt}}'  hm-recognizer-options='{{hmRecognizerOpt}}'>
          <chat></chat>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Uses a second modal ui-yield-to. See https://github.com/mcasimir/mobile-angular-ui/pull/286 -->
<div ui-content-for="modals2">
  <div class="modal modal-overlay" ui-if="projectTitleReminder" ui-state="projectTitleReminder">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p translate>project.title.reminder.body_one</p>
          <strong><p translate>project.title.reminder.body_two</p></strong>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default project-title-reminder-btn" ng-click="cancelProject()" translate>project.title.reminder.button_cancel</button>
          <button class="btn btn-primary project-title-reminder-btn" ng-click="titleReminder()" translate>project.title.reminder.button_continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
