<div class="projects list-group"
  infinite-scroll="getProjectsPage()"
  infinite-scroll-container="container" infinite-scroll-disabled="bussyPagination" infinite-scroll-distance="2">
  <div class="project-item col-md-4 list-group-item" ng-repeat="project in projects| orderBy: '-lastChange().getTime()'" ng-click="showProject(project)" ng-if="project.title!==''">
    <div class="project-photo pos-r">
      <img class="media-object" ng-src="{{project.logo()}}" />
      <div>
        <div class="project-item-date">10/09/2016</div>
        <div class="project-item-title">{{project.title}}</div>
        <div class="project-item-community">{{project.loadedCommunities.length ? project.loadedCommunities[0].name : '&nbsp;'}}</div>
      </div>
    </div>

  </div>
</div>
