<div class="projects list-group"
  infinite-scroll="getProjectsPage()"
  infinite-scroll-container="container"
  infinite-scroll-disabled="bussyPagination || farFromLast()"
  infinite-scroll-inmediate-check="false"
  infinite-scroll-distance="0">
  <div class="project-item col-md-4 list-group-item" ng-repeat="project in projects| orderBy: '-lastChange().getTime()'" ng-click="showProject(project)" ng-if="project.title!==''">
    <div ng-include="'projects/project/photo.html'"></div>
  </div>
</div>
