<div ng-if="!isDesktop()">
  <div ui-content-for="navbar-top">
  </div>
</div>

<div ng-if="form()" class="scrollable">

  <div class="scrollable-header project-form-bar hidden-md hidden-lg">
    <a ui-set="{ 'modal.confirm': {
         name: 'confirm',
         title: 'project.form.cancelDialog.title',
         text: 'project.form.cancelDialog.text',
         accept: 'project.form.cancelDialog.accept',
         cancel: 'project.form.cancelDialog.cancel',
         callback: cancelProject
       }}"
       class="i-close"></a>
  </div>

  <div class="scrollable-content">
    <div class="col-md-4 col-md-offset-4">
      <div ng-include="'projects/project/form/steps.html'"></div>

      <div ng-include="'projects/project/form/' + form() + '.html'"></div>

      <div ng-include="'projects/project/form/next.html'"></div>
      </div>
    </div>
  </div>
</div>

<div ng-if="! form()" class="full-height show-project-back-arrow">
  <div ng-include="'navbar-top/project.html'"></div>

  <div ng-if="!isDesktop()" class="project project-mobile flex-container scrollable">
    <div class="scrollable-header" ng-include="'projects/project/mobile/topbar.html'"></div>
    <div class="scrollable-content flex-container" ng-include="'projects/project/mobile.html'"></div>
  </div>

  <div ng-if="isDesktop()" class="project project-desktop scrollable"><div class="scrollable-content" ng-include="'projects/project/desktop.html'"></div></div>
</div>
