<div class="projects list-group" ng-if="!emptyProjects()">
  <div class="project-item list-group-item" ng-repeat="project in projects| orderBy: '-lastChange().getTime()'" ng-click="showProject(project)" ng-if="project.title!==''">

    <div class="media">
      <div class="media-left">
        <div class="project-photo">
          <img class="media-object" ng-src="{{project.image.url || project.defaultLogo()}}" />
        </div>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <span class="project-item-title">{{project.title}}</span>
        </h4>

        <div class="project-communities"
             ng-if="context == 'home' || context == 'public'">
             <span ng-repeat="c in project.loadedCommunities">{{ $index > 0 ? ', ' : '' }}<a ng-href="/communities/{{ c.urlId }}">{{ c.name }}</a></span>
        </div>

        <div class="project-description">
          {{project.pad.excerpt}}
        </div>

        <div class="project-sections">
          <div class="icon-count project-sections-participants col-xs-4">
            <i class="fa i-community" uib-tooltip="{{'project.tooltip.pad' | translate}}"></i>
            <span class="icon-count-number">{{ project.participantCount() }}</span>
          </div>

          <div class="icon-count project-sections-needs col-xs-4">
            <a ng-click="showProject(project, 'needs')" uib-tooltip="{{'project.tooltip.need' | translate}}">
              <i class="fa i-need"></i>
              <span class="icon-count-number">{{ project.needIncompletedCount() }}</span>
            </a>
          </div>

          <div class="icon-count project-sections-chat col-xs-4">
            <a ng-click="showProject(project, 'chat')" uib-tooltip="{{'project.tooltip.chat' | translate}}">
              <i class="fa i-message"></i>
              <span class="icon-count-number">{{ project.newMessagesCount() }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
