<div ng-include="'navbar-top/project.html'"></div>
<div class="project" ng-if="!isDesktop()">
  <div class="project-navigation">
    <div class="btn-group justified">
      <a ui-set="{'projectTab': 'pad'}"
         ui-class="{'active': projectTab == 'pad'}"
         class="nav-pad">
        <span translate>pad.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('pad')"></span> </a>
      <a ui-set="{'projectTab': 'needs'}"
         ui-class="{'active': projectTab == 'needs'}"
         class="nav-needs">
        <span translate>need.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('needs')"></span> </a>

      <a ui-set="{'projectTab': 'chat'}"
         ui-class="{'active': projectTab == 'chat'}"
         class="nav-chat"
         ng-if="project.isParticipant()">
        <span translate>chat.nav.title</span>
        <span class="fa fa-circle notification-indicator" ng-if="hasChanged('chat')"></span> </a>
    </div>
  </div>

  <div class="project-tabs-container" ng-class="{'xs-hidden-tabs': areTabsHidden()}">
    <div ui-state="projectTab" class="project-tabs">
      <div ui-if="projectTab == 'pad'" hm-swipeleft="swipeToNeeds" hm-manager-options='{{hmManagerOpt}}' hm-recognizer-options='{{hmRecognizerOpt}}'>
        <div ng-include="'projects/project-tab.html'"></div>
      </div>

      <div ui-if="projectTab == 'needs'" hm-swipeleft="swipeToChat" hm-swiperight="swipeToPad" hm-manager-options='{{hmManagerOpt}}' hm-recognizer-options='{{hmRecognizerOpt}}'>
        <div class="scrollable">
          <div class="scrollable-content">
            <div need-list project="project" needs="project.needs" ng-class="project.isParticipant() ? '' : 'has-cta'">
            </div>
          </div>
        </div>
      </div>

      <!-- ng-if is not compatible with ui-if -->
      <div class="flex-container" ng-if="project.isParticipant()">
        <div class="flex-container" ui-if="projectTab == 'chat'" hm-swiperight="swipeToNeeds" hm-manager-options='{{hmManagerOpt}}'  hm-recognizer-options='{{hmRecognizerOpt}}'>
          <chat class="flex-container"></chat>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Uses a second modal ui-yield-to. See https://github.com/mcasimir/mobile-angular-ui/pull/286 -->
<div ui-content-for="modals2">
  <modal name="projectTitleReminder">
    <header translate>project.title.reminder.body_one</header>
    <main>
      <strong><p translate>project.title.reminder.body_two</p></strong>
    </main>
    <footer>
      <button class="btn btn-default project-title-reminder-btn" ng-click="cancelProject()" translate>project.title.reminder.button_cancel</button>
      <button class="btn btn-primary project-title-reminder-btn" ng-click="titleReminder()" translate>project.title.reminder.button_continue</button>
    </footer>
  </modal>
</div>
<div ng-if="isDesktop()" class="project project-desktop">
  <div class="col-md-3 col-lg-2 project-sidebar bg-{{project.logoColor()}}">
    <div class="row project-badge">
      <div class="media">
        <div class="media-left">
          <div class="project-photo" ui-set="{modalSharedState: {name: 'uploadPicture', callback: uploadProjectPhoto}}" ng-if="project.isParticipant()">
            <img class="media-object" ng-src="{{project.logo()}}">
          </div>
          <div class="project-photo" ng-if="!project.isParticipant()">
            <img class="media-object" ng-src="{{project.logo()}}">
          </div>
        </div>
        <div class="media-body media-middle">
          <h4 class="media-heading">
            <span class="project-title">{{project.title}}</span>
          </h4>
          <div class="project-communities">
            <span ng-repeat="c in communities">{{ $index > 0 ? ', ' : '' }}<a ng-href="{{ c.path() }}">{{ c.name }}</a></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row project-sidebar-inner">
      <div class="section" project-people></div>
    </div>
    <div class="row other-projects" ng-controller="ProjectsCtrl">
      <h2 translate>project.index.home.title</h2>
      <projects project-list="projects" context="context"></projects>
    </div>
  </div>
  <div class="col-md-6 col-lg-7 project-main">
    <div class="row">
      <div class="col-xs-7 project-title-editable">
        <input class="h1 title-input form-control" ng-model="project.title"
        placeholder="{{'project.title.placeholder' | translate}}" ng-disabled="!project.isParticipant()">
      </div>
      <div class="project-join col-xs-5 text-right" ng-if="!project.isParticipant()">
        <button class="btn btn-lg btn-primary btn-raised"
                join
                join-icon="false",
                join-model="project"
                join-copy-on="project.participate.btn.undo"
                join-copy-off="project.participate.btn.do"
                analytics-on="click"
                analytics-event="Join project">
        </button>
      </div>
    </div>
    <pad editing-default="true" class="flex-container"></pad>
  </div>
  <div class="col-md-3 project-utils">
    <div class="row">
      <h2 translate>need.nav.title</h2>
      <div need-list project="project" needs="project.needs" display="panel" ng-class="project.isParticipant() ? '' : 'has-cta'" class=""></div>
    </div>
    <div class="flex-container row" ng-if="project.isParticipant()">
      <h2 translate>chat.nav.title</h2>
      <chat class="flex-container"></chat>
    </div>
  </div>
</div>
