<modal name="shareModalCreate">
  <header translate translate-values="{ title: project.title }">project.share.title</header>
  <main>
    <div class="share-description" translate>project.share.description.link</div>
    <input class="share-link well" type="url" ng-value="project.url()"/>
    <div class="input-group share-mode-selector">
      <selectize
      config="share.config"
      options="share.options"
      ng-model="project.shareMode"
      ng-disabled="!project.isParticipant()"
      ></selectize>
    </div>

    <selector multiple
    config="userSelectorConfig"
    options="invite.list" ng-model="invite.selected"
    placeholder=" 'project.add_people.placeholder' | translate"></selector>

  </main>
  <footer>
    <button class="btn" ng-click="cancelInvite()" translate>project.add_people.button_cancel</button>
    <button class="btn btn-primary" ng-click="inviteUsers()" translate>project.add_people.button_continue</button>
  </footer>
</modal>
