<modal name="shareModalCreate" class="share-modal">
  <header translate translate-values="{ title: project.title }">project.share.title</header>
  <main>
    <div ng-include="'projects/share/social-networks.html'"></div>

    <div ng-include="'projects/share/link.html'"></div>

    <div ng-include="'projects/share/mode.html'"></div>

    <div ng-include="'projects/share/invite.html'"></div>
  </main>
  <footer>
    <button class="btn" ng-click="cancelInvite()" translate>project.add_people.button_cancel</button>
    <button class="btn btn-primary btn-raised" ng-click="inviteUsers()" translate>project.add_people.button_continue</button>
  </footer>
</modal>
