<modal name="shareModalCreate">
  <header translate translate-values="{ title: '{{project.title}}' }">project.share.title</header>
  <main>

    <div class="share-description" translate>project.share.description.link</div>

      <input class="well share-link" type="url" ng-value="project.url()"/>

      <div ng-hide="!project.isParticipant()">
        <div class="share-description" translate>project.share.description.permission</div>

        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="project.setShareMode('public')" ng-class="project.isShareMode('public') ? 'active' : ''">
              <span translate>project.share.mode.public</span>
            </button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="project.setShareMode('link')" ng-class="project.isShareMode('link') ? 'active' : ''">
              <span translate>project.share.mode.link</span>
            </button>
          </div>
        </div>


        <div class="share-info text-info" ng-show="project.isShareMode('link')" translate>project.share.info.link</div>
        <div class="share-info text-info" ng-show="project.isShareMode('public')" translate>project.share.info.public</div>
    </div>

  </main>
  <footer></footer>
</modal>
