<div class="row">
  <div class="col-md-12">
    <form class="task-form" role="form">
      <div class="form-group">
        <label class="control-label" translate>tasks.task_name</label>
        <input id="task_name" class="form-control" type="text" ng-value="task.name"></input>
      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.task_assigned_to</label>
        <ui-select multiple ng-model="assigSelect.assignees" theme="bootstrap">
          <!-- ng-disabled="disabled"> -->
          <ui-select-match placeholder="">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="user in community.users | filter:$select.search">
            {{user.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.task_description</label>
        <textarea class="form-control">{{task.description}}</textarea>
      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.deadline</label>
        <div class="row">
          <div class="col-sm-6" ng-if="supportsDateInput">
            <input date-input class="form-control" ng-model="task.deadlineDate" />
          </div>
          <div class="col-sm-6" ng-if="! supportsDateInput">
            <div class="input-group datepicker">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="task.deadlineDate" is-open="opened" datepicker-options="dateOptions"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="col-sm-6" ng-if="supportsTimeInput">
            <input time-input class="form-control" ng-model="task.deadlineDate"/>
          </div>
          <div class="col-sm-6" ng-if="! supportsTimeInput">
            <timepicker ng-model="task.deadlineDate"></timepicker>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" translate>tasks.reminders</label>
        <div class="row form-group" ng-repeat="reminder in task.reminders">
          <div class="col-sm-6" ng-if="supportsDateInput">
            <input date-input class="form-control"  ng-model="reminder.date" />
          </div>
          <div class="col-sm-6" ng-if="! supportsDateInput">
            <div class="input-group datepicker">
              <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="reminder.date" is-open="opened" datepicker-options="dateOptions"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="openDate($event)"><i class="fa fa-calendar"></i></button>
              </span>
            </div>
          </div>
          <div class="col-sm-6" ng-if="supportsTimeInput">
            <input time-input class="form-control" ng-model="reminder.date" />
          </div>
          <div class="col-sm-6" ng-if="! supportsTimeInput">
            <timepicker ng-model="reminder.date"></timepicker>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
