<div content-for="nav-title">
  <div class="community-name overflow-ellipsis">{{community.name}}</div>
  <div class="task-index" translate>tasks.index.title</div>
</div>
<div content-for="nav-left">
  <div ng-click="community_index()"><i class="fa fa-chevron-left"></i></div>
</div>
<div content-for="nav-right">
  <div ng-click="new()"><i class="fa fa-plus"></i></div>
</div>
<div id="tasks" class="col-md-12">
  <div class="empty-tasks-tip" ng-if="tasks.length===0">
    <div class="empty-tasks-tip-msg" translate >
      tasks.empty_tasks_tip
    </div>
  </div>
  <div class="row task-item" ng-repeat="task in tasks | orderBy:['completed','(completionDate!==null)? -completionDate.getTime() : -creationDate.getTime()']">
    <div class="col-md-12">
      <div ng-click="toggleCompleted(task)" class="task-check-container pull-left">
        <div ng-class="task.completed ? 'fa fa-check-square-o task-checkbox task-checkbox-checked' : 'fa fa-square-o task-checkbox' "></div>
      </div>
      <div ng-click="edit(task)" class="task-media media">
        <div class="media-body">
          <h4 class = "media-heading task-name overflow-ellipsis">
            {{task.name}}
          </h4>
          <span ng-repeat="asig in task.assignees" class="task-assignees">
            {{asig.name +  ($last ? '' : ', ')}}
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="checkbox-tip" ng-if="tasks.length===1 && !tasks[0].completed">
    <div  translate>
      tasks.task_checkbox_tip
    </div>
  </div>
</div>
