<div content-for="nav-title">
  <div class="community-name overflow-ellipsis">{{community.name}}</div>
  <div class="task-index" translate>tasks.index.title</div>
</div>
<div content-for="nav-left">
  <div ng-click="communityIndex()"><i class="fa fa-chevron-left"></i></div>
</div>
<div content-for="nav-right">
  <div ng-click="new()"><i class="fa fa-plus"></i></div>
</div>
<div id="tasks" class="col-md-12">
  <div class="empty-tasks-tip" ng-if="tasks.length===0">
    <div class="empty-tasks-tip-msg" translate>
      tasks.empty_tasks_tip
    </div>
  </div>
  <div id="tasklist" ng-controller="TasksCtrl" task-list="tasks"></div>
  <div class="checkbox-tip" ng-if="tasks.length===1 && !tasks[0].completed">
    <div  translate>
      tasks.task_checkbox_tip
    </div>
  </div>
</div>
