<div class="scrollable profile">
  <div class="scrollable-content">
    <div class="section">
        <div class="row">
        <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5" ui-set="{uploadPictureSharedState: updateAvatar}" ui-state="uploadPictureSharedState">
          <div avatars="user.id" avatars-conf="{size:'responsive'}"></div>
        </div>
      </div>
      <div class="row text-center">
        <h1>{{user.nick}}</h1>
      </div>
      <div class="row">
        <h2 translate>community.communities</h2>
        <ul ng-repeat="community in communities">
          <li><a href="#/communities/{{community._urlId}}">{{community.name}}</a></li>
        </ul>
      </div>
      <div class="row">
        <h2 translate>project.projects</h2>
        <ul ng-repeat="project in projects">
          <li><a href="#/projects/{{project._urlId}}">{{project.title}}</a></li>
        </ul>
    </div>
  </div>
</div>
