<div ui-content-for="nav-title">
  <div class="overflow-ellipsis" translate>profile.title</div>
</div>

<div class="scrollable profile">
  <div class="scrollable-content">
    <div class="info">
      <div ng-class="{'affix col-md-4': isDesktop()}">
        <div ng-if="canEdit()" ui-set="{modalSharedState: {name: 'uploadPicture', callback: updateAvatar}}">
          <div avatars="user.id" avatars-conf="{size:'responsive'}" class="avatars-without-names"></div>
        </div>
        <div ng-if="!canEdit()">
          <div avatars="user.id" avatars-conf="{size:'responsive'}" class="avatars-without-names"></div>
        </div>
        <div class="text-center">
          <h3>{{user.nick}}</h3>
        </div>
        <div>
          <button ng-click="logout()" class="btn btn-raised btn-primary btn-block" translate>menu.session.logout</button>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="profile-list">
        <h4 class="text-uppercase" translate>project.projects</h4>
        <table class="projects table table-hover">
          <tr ng-repeat="project in projects">
            <td>
              <a href="{{ project.path() }}" class="project-photo-small">
                <img ng-src="{{project.logo()}}">
              </a>
            </td>
            <td>
              <a href="{{ project.path() }}">
                <span>{{project.title}}</span>
              </a>
            </td>
            <td ng-if="canEdit()" class="text-right">
              <a class="i-participant-remove text-uppercase" ng-click="leave(project)" translate>project.menu.leave</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
