<div ui-content-for="nav-title">
  <div class="overflow-ellipsis" translate>profile.title</div>
</div>

<div class="scrollable profile">
  <div class="scrollable-content">
    <div class="container">
      <div class="info">
        <div ng-class="{'affix col-md-3': isDesktop()}">
          <div ng-if="canEdit()" ui-set="{'modal.uploadPicture': {name: 'uploadPicture', callback: updateAvatar}}">
            <div avatars="user.id" avatars-conf="{size:'responsive'}" class="avatars-without-names"></div>
          </div>
          <div ng-if="!canEdit()">
            <div avatars="user.id" avatars-conf="{size:'responsive'}" class="avatars-without-names"></div>
          </div>
          <div class="text-center">
            <h3>{{user.nick}}</h3>
          </div>
          <div>
            <button ng-click="logout()" ng-if="canEdit()" class="btn btn-raised btn-primary btn-block" translate>menu.session.logout</button>
          </div>
        </div>
      </div>
      <div class="col-md-8" id="#indexProjContainer">
        <projects project-list="projects" context="context" container="#indexProjContainer"></projects>
      </div>
    </div>
  </div>
</div>
