<div ui-content-for="nav-title">
  <div class="overflow-ellipsis" translate>profile.title</div>
</div>

<div class="scrollable profile">
  <div class="scrollable-content">
    <div class="col-md-4">
      <div class="affix col-md-4">
        <div class="section">
          <div class="col-xs-8 col-xs-offset-2 col-sm-4">
            <div ng-if="canEdit()" ui-set="{modalSharedState: {name: 'uploadPicture', callback: updateAvatar}}">
              <div avatars="user.id" avatars-conf="{size:'responsive'}"></div>
            </div>
            <div ng-if="!canEdit()">
              <div avatars="user.id" avatars-conf="{size:'responsive'}"></div>
            </div>
          </div>
        </div>
        <div class="section text-center">
          <br>
          <h3>{{user.nick}}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="section">
        <h4 class="text-uppercase" translate>community.communities</h4>
        <table class="communities table table-hover">
          <tr ng-repeat="community in communities">
            <td>
              <a href="{{ community.path() }}">
                <span>{{community.name}}</span>
              </a>
            </td>
          </tr>
        </table>
      </div>
      <div class="section">
        <h4 class="text-uppercase" translate>project.projects</h4>
        <table class="projects table table-hover">
          <tr ng-repeat="project in projects">
            <td>
              <a href="{{ project.path() }}">
                <span>{{project.title}}</span>
              </a>
          </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
