<span class="need-missing" ng-if="project && !need">
  <i class="i-need-missing"></i> <span class="need-missing-message" translate>pad.need.missing</span>
</span>


<form ng-if="need">
  <div class="form-group need-form" ng-class="'need-form-' + need._id">
    <div class="checkbox">
      <label ng-click="toggleCompleted(need, $event)">
        <input type="checkbox" ng-checked="need.completed === 'true'">
      </label>
    </div>
    <div class="need-name">
      <textarea ng-if="project.isParticipant()"
                class="form-control"
                rows="1"
                autosize
                ng-class="need.completed === 'true' ? 'text-strike' : ''"
                ng-model="need.text"
                placeholder="{{ 'need.new.placeholder' | translate }}">
      </textarea>
      <div ng-if="!project.isParticipant()" class="section-text-readonly" ng-class="need.completed === 'true' ? 'text-strike' : ''">
        {{ need.text }}
      </div>
    </div>
  </div>
</form>
