<div ng-include="'navbar_top/chat_pad.html'"></div>

<div class="project" hm-swiperight="showChat()" hm-manager-options='{ "cssProps": { "userSelect": true } }'>
  <div class="scrollable">
    <div class="scrollable-header">
      <div class="section project-support" ng-if="!ed.editting">
        <h5><i class="fa i-participant"></i><span translate>project.section.participate.title</span></h5>

        <div class="project-supports">
          <div class="project-supports-section">
            <div avatars="project.contributors" avatars-name="true"></div>
          </div>
          <div class="project-supports-section">
            <div class="project-support-number">
              {{ project.contributors.length }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrollable-content">
      <div class="section project-description"
           ng-class="ed.editting ? 'project-description-editing' : ''">
        <div class="project-description-header">
          <h5 ng-if="!ed.editting">
            <span translate>project.section.description.title</span>
            <span class="project-notes-tip" ng-if="project.isContributor()" translate>
              &nbsp;project.section.description.tip
            </span>
          </h5>
        </div>
        <div id="pad"
             class="swellrt-editor"
             editable="{{project.isContributor()}}"
             ng-model="project.pad"
             placeholder="{{ 'pad.placeholder' | translate }}"
             ui-outer-click="toggleFullScreenEdit()"
             ui-outer-click-if="ed.editting"
             block-edit="{{!project.isContributor()}}"></div>
        </div>
      </div>
    </div>
  </div>

  <div ng-if="!project.isContributor()">
    <div like-join></div>
  </div>
</div>

<!-- Uses a second modal ui-yield-to. See https://github.com/mcasimir/mobile-angular-ui/pull/286 -->
<div ui-content-for="modals2">
  <div class="modal modal-overlay" ui-if="projectTitleReminder" ui-state="projectTitleReminder">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p translate>project.title.reminder.body_one</p>
          <strong><p translate>project.title.reminder.body_two</p></strong>
        </div>
        <div class="modal-footer">
          <button class="btn btn-default project-title-reminder-btn" ng-click="cancelProject()" translate>project.title.reminder.button_cancel</button>
          <button class="btn btn-primary project-title-reminder-btn" ng-click="titleReminder()" translate>project.title.reminder.button_continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
