<div ui-content-for="nav-title">
  <div class="project-title overflow-ellipsis">
    <input id="title_input" type="text" ng-model="project.title" placeholder="{{ 'project.title.placeholder' | translate }}">
</div>
</div>

<div ng-include="'navbar_top/chat_pad.html'"></div>

<div class="section project">
  <div class="section" hm-swiperight="showChat()">
    <div class="list-group">
      <div class="scrollable">
        <div class="scrollable-header">
          <div class="list-group-item project-support" ng-if="!ed.editting">
            <h5 translate>project.section.support.title</h5>
            <div class="project-supports">
              <div class="project-supports-section">
                <div class="project-avatars swellrt-avatars" ng-model="project.supporters" swellrt-avatar-options="{numberOfAvatars : 3}"></div>
              </div>
              <div class="project-supports-section">
                <div class="project-support-number">
                  {{ project.supporters.length }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="scrollable-content">

          <div class="list-group-item project-description">
            <div class="project-description-header">
              <h5 translate>project.section.description.title</h5>
              <div class="pad-edit-btn">
                <button class="btn btn-primary"
                        ng-class="ed.editting? 'active' : ''"
                        ng-click="ed.editting = !ed.editting; angular.element(editor).focus()"
                        translate>pad.edit
                </button>
              </div>
            </div>
            <div class="swellrt-editor" ng-model="project.pad" placeholder="{{ 'pad.placeholder' | translate }}" block-edit="!project.isSupporter() || !ed.editting"></div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Uses a second modal ui-yield-to. See https://github.com/mcasimir/mobile-angular-ui/pull/286 -->
<div ui-content-for="modals2">
  <div class="modal modal-overlay" ui-if="projectTitleReminder" ui-state="projectTitleReminder">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <span translate>project.title.reminder.body
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary project-title-reminder-btn" ng-click="titleReminder()" translate>project.title.reminder.button</button>
        </div>
      </div>
    </div>
  </div>
</div>
