<div>
  <div ui-content-for="nav-left">
    <div class="btn-group pull-left">
      <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
        <i class="fa fa-bars"></i>
      </div>
    </div>
  </div>

  <div ui-content-for="nav-title">
    <div class="overflow-ellipsis" translate>app.name</div>
  </div>

  <div class="tip" translate>
    community.no_selected_tip
  </div>

  <div ng-include="'navbar_bottom/navbar-bottom.html'"></div>

  <div ui-content-for="sidebar">
    <div class="sidebar sidebar-left" ng-include="'communities/index.html'" ng-controller="CommunitiesCtrl" ui-turn-off="uiSidebarLeft">
</div>
  </div>
</div>
