<div class="community">
  <div id="communityProjsContainer" class="scrollable">
    <div class="scrollable-content">

      <div class="community-gallery">
        <div class="community-share-button">
          <!--<i class="i-share"></i>-->
        </div>
        <div ui-set="{modal.uploadPicture: {name: 'uploadPicture', callback: uploadCommunityPhoto}}" ng-if="community.isParticipant()">
          <img ng-src="{{community.logo()}}">
        </div>
        <div ng-if="!community.isParticipant()">
          <img ng-src="{{community.logo()}}">
        </div>
        <div class="community-join-button hidden-mobile">
          <button class="btn btn-lg btn-primary btn-raised pull-right"
                  ng-if="! community.isParticipant()"
                  participate
                  participate-copy-off="community.participate.button"
                  participate-model="community">
          </button>
          <div ng-if="community.isParticipant()" class="community-joined-message" translate>community.participate.message</div>
        </div>
      </div>

      <div class="community-layout">


        <div class="community-info col-md-4">
          <h1 ng-if="! editingTitle()">
            <span class="community-name" ng-bind="community.name"></span>
            <div class="pull-right" ng-include="'communities/community/menu.html'">
            </div>
          </h1>
          <div class="form-group label-floating" ng-if="editingTitle()">
            <label class="control-label" for="communityName" translate>
              community.title.placeholder
            </label>

            <div class="input-group title-form">
              <input type="text"
                     class="form-control title-input"
                     ng-model="community.name"
                     name="communityName">
              <div class="input-group-addon">
                <button class="btn btn-link" ng-click="hideEditTitle()">
                  <i class="i-check"></i>
                </button>
              </div>
            </div>
          </div>

          <div class="community-description" ng-if="! editingTitle()">
            {{community.description}}
          </div>

          <div class="description-form" ng-if="editingTitle()">
            <div class="form-group label-floating">
              <label class="control-label" for="communityDescription" translate>
                community.description.placeholder
              </label>
              <textarea class="form-control"
                        autosize
                        rows="1"
                        name="communityDescription"
                        ng-model="community.description"></textarea>
              <p class="help-block" translate>
                community.description.help
              </p>
            </div>
          </div>

          <div class="hidden-desktop">
            <button class="btn btn-lg btn-primary btn-raised btn-block"
                    ng-if="! community.isParticipant()"
                    participate
                    participate-copy-off="community.participate.button"
                    participate-model="community">
            </button>
            <div ng-if="community.isParticipant()" class="community-joined-message" translate>community.participate.message</div>
          </div>
          <footer class="row" ng-if="!isNew() && !editingTitle()">
            <div>
              <div class="community-participant-count">
                <i class="icon-count i-project"><span class="icon-count-number">{{projects.length}}</span></i>
                <i class="icon-count i-community"><span class="icon-count-number">{{ community.participantCount() }}</span></i>
              </div>
              <div class="community-count community-like-count">
              </div>
            </div>
          </footer>
        </div>

        <div id="communityProjsContainer" class="community-projects col-md-6 section">

          <h2 class="community-project-title" translate>community.project.title</h2>
          <plus class="plus-desktop" plus-type="project" plus-community="community"></plus>

          <div ng-if="projects.length">
            <projects project-list="projects"></projects>
          </div>

          <div ng-if="projects && ! projects.length">
            <div class="community-project-tip" translate>
                community.project.tip
            </div>
            <div class="community-project-image">
              <div class="community-project-pot-tag"
                   ng-bind-html="community.nameForPotTag()"
                   textfit>
              </div>
              <img src="/images/teem_pot.svg" / class="img-responsive">
            </div>
            <div class="community-project-btn">
              <button class="btn btn-primary btn-raised"
                      ng-click="createProject()"
                      analytics-on="click"
                      analytics-event="New project">
                <img src="/images/icons/teem_white_background.svg" />
                <span translate>community.project.button</span>
              </button>
            </div>

          </diV>
        </div>

        <div class="community-participants col-md-2 section">
          <h2>
            {{ 'community.participants.title' | translate }}
          </h2>
        <div avatars="community._participants" avatars-conf="{size: 'small'}" class="avatars"></div>
        <button ng-if="community.isParticipant()" class="invite-button btn btn-primary btn-raised btn-block i-participant-new" ui-set="{'modal.invite': 'invite'}" translate>
            project.add_people.button
        </button>

        <div ui-content-for="inviteModal" ng-if="community.isParticipant()">
          <modal name="invite">
            <header translate>project.add_people.title</header>
            <main>
              <selector multiple
              config="userSelectorConfig"
              options="invite.list" ng-model="invite.selected"
              placeholder=" 'project.add_people.placeholder' | translate"></selector>
            </main>
            <footer>
              <button class="btn" ng-click="cancelInvite()" translate>project.add_people.button_cancel</button>
              <button class="btn btn-primary" ng-click="inviteUsers()" translate>project.add_people.button_continue</button>
            </footer>
          </modal>
        </div>
        <div ui-content-for="modals" ng-if="isNew()">
          <modal name="newForm" overlay>
            <header translate>community.new.title</header>
            <main>
              <div class="community-new-form community-new-greeting section">
                <img src="/images/community_form.svg" />

                <div translate translate-values="{ nick: currentNick() }">
                  community.new.welcome
                </div>
                <div class="community-new-tip" translate>
                  community.new.tip
                </div>
              </div>
              <div class="community-new-form section">
                <div class="form-group label-floating">
                  <label class="control-label" for="communityName" translate>
                    community.title.placeholder
                  </label>
                  <input type="text"
                         class="form-control title-input"
                         ng-model="community.name"
                         name="communityName">
                </div>
                <div class="description-form">
                  <div class="form-group label-floating">
                    <label class="control-label" for="communityDescription" translate>
                      community.description.placeholder
                    </label>
                    <textarea class="form-control"
                              autosize
                              rows="1"
                              name="communityDescription"
                              ng-model="community.description"></textarea>
                    <p class="help-block" translate>
                      community.description.help
                    </p>
                  </div>
                </div>
                <selector multiple
                  config="userSelectorConfig"
                  options="invite.list" ng-model="invite.selected"
                  placeholder=" 'project.add_people.placeholder' | translate"></selector>
                <a class="btn btn-raised btn-primary btn-block new-form-confirm-btn" href="{{'/communities/'+community._urlId}}" translate>community.new.button</a>
              </div>
            </main>
            <footer>

            </footer>
          </modal>
        </div>
      </div>
    </div>
  </div>
  <plus class="plus-mobile" plus-type="project" plus-community="community"></plus>
</div>
