<div class="communities">
  <div class="scrollable">
    <div class="scrollable-content pos-r">
      <h1>{{'community.index.'+context+'.title' | translate}}</h1>
      <plus class="plus-desktop" plus-type="community"></plus>
      <div class="community-list">
        <div class="community-item col-sm-6 col-md-4" 
             ng-hide="creating && newCommunityName.name === ''" 
             ng-repeat="community in communities | toArray:true | orderBy:'-numProjects || 0'" 
             ng-click="showCommunity(community)">
          <div class="thumbnail">
            <div class="community-photo">
              <img ng-src="{{community.logo()}}">
            </div>
            <div class="caption">
              <h3 class="community-title" ng-bind-html="community.name"></h3>
              <div class="community-description">
                {{ community.description }}
              </div>
              <div class="community-item-footer row">
                <div class="col-xs-6">
                  <div class="community-participant-count">
                    <i class="icon-count i-project"><span class="icon-count-number">{{ community.numProjects || 0 }}</span></i>
                    <i class="icon-count i-participant"><span class="icon-count-number">{{ community.participantCount() }}</span></i>
                  </div>
                </div>
                <div class="col-xs-6">
                  <a class="btn btn-link pull-right community-view-more">
                    {{'community.view_more' | translate }} <i class="i-arrow-forward"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

