<div ui-content-for="nav-title">
  <div class="overflow-ellipsis" translate>community.index.title</div>
</div>

<div class="scrollable">
  <div class="scrollable-content">
    <div id="communities" class="section communities">
        <div class="input-group input-group-lg community-search">
          <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
          <input  type="text" class="form-control" ng-model="newCommunityName.name" translate placeholder="{{ 'community.search.placeholder' | translate }}">
        </div>

        <div class="list-group">
          <div class="community-item list-group-item" ng-repeat="community in communities | toArray:true | filter:newCommunityName:strict" ng-click="showProjects(community.id)">
            <h4 class="community-title" ng-bind-html="community.name | highlight:newCommunityName.name">
            </h4>
          </div>
          <div ng-if="newCommunityName.name" class="new-community-item community-item list-group-item">
            <div class="new-community-description tip" translate>community.create.description</div>
            <button class="btn btn-primary btn-block btn-lg" ng-click="create(newCommunityName.name)">
              <i class="fa fa-plus-circle"></i>
              <span translate translate-values="{ name: '{{newCommunityName.name}}' }">community.create.button</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
