<div ui-content-for="nav-left">
  <div class="btn-group pull-left">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</div>

<div ui-content-for="sidebar">
  <div class="sidebar sidebar-left" ng-include="'menu.html'" ng-controller="MenuCtrl"></div>
</div>

<div ui-content-for="nav-title">
  <div class="overflow-ellipsis" translate>community.index.title</div>
</div>

<div class="scrollable-content">
  <div id="communities" class="section communities">
    <div class="community-search">
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-search fa-fw" ng-hide="creating"></i></span>
        <input type="text"
         class="form-control"
         ng-model="newCommunityName.name"
         ng-blur="reset()"
         translate
         placeholder="{{ creating ? 'community.create.placeholder' : 'community.search.placeholder' | translate }}">
      </div>
    </div>
    <div class="community-create">
      <a class="btn btn-default btn-block btn-lg" ng-if="! newCommunityName.name" ng-click="new_()" overflow-ellipsis>
        <span translate>
          {{ creating ? 'community.create.button.empty' : 'community.new.button' }}
        </span>
      </a>
      <a class="btn btn-default btn-block btn-lg community-create-btn"
         ng-if="newCommunityName.name"
         ng-click="create(newCommunityName.name)"
         analytics-on="click"
         analytics-event="Create community"
         overflow-ellipsis>
        <span translate translate-values="{ name: '{{newCommunityName.name}}' }">community.create.button.name</span>
      </a>
    </div>

    <div class="community-list list-group">
      <div class="community-item list-group-item"
           ng-hide="creating && newCommunityName.name === ''"
           ng-repeat="community in communities | toArray:true | orderBy:'-numProjects || 0' | filter:newCommunityName:strict"
           ng-click="showProjects(community.id)">
        <h4 class="community-title" ng-bind-html="community.name | highlight:newCommunityName.name">
        </h4>
        <div class="community-description">
          {{community.description}}
        </div>
        <div class="community-numbers">
          <span class="community-projects-number">{{community.numProjects || 0}}</span>
          <span translate>community.project.number</span>
        </div>
      </div>
    </div>
  </div>
</div>
