<div class="container-fluid menu navbar-top-menu" ng-controller="MenuCtrl">

  <ul class="nav navbar-nav">
    <li>
      <a class="logo" href="/"><img src="/images/app-logo-white.png" /></a>
    </li>
  </ul>

  <ul class="nav navbar-nav navbar-right menu-desktop">
    <li class="text-uppercase menu-option" ng-if="loggedIn()">
      <a href="/home/teems" translate>menu.homeProjects.title</a>
    </li>
    <li class="text-uppercase menu-option" ng-if="loggedIn()">
      <a href="/home/communities" translate>menu.homeCommunities.title</a>
    </li>
    <li class="text-uppercase menu-option">
      <a href="/communities" translate>menu.communities.title</a>
    </li>
    <li class="dropdown menu-option">
      <a class="input-group"
          ui-turn-on="searchDropdown"
          ui-state="searchDropdown">


        <input id="search-input" type="text" ng-model="search.input"
        ng-model-options="{ debounce: 500 }">
        <!-- <span class="input-group-addon"> -->
          <i class="fa fa-search input-group-addon" ng-click="angular.element('#search-input')[0].focus()"></i>
        <!-- </span> -->
      </a>
      <ul class="dropdown-menu search"
        ui-outer-click="Ui.turnOff('searchDropdown')"
        ui-outer-click-if="Ui.active('searchDropdown')"
        ui-state="searchDropdown"
        ui-show="searchDropdown">

        <div class="scrollable">
          <div class="scrollable-content">
            <div class="search-list">
              <h4 class="text-uppercase" translate>community.communities</h4>
            <table class="communities table table-hover">
              <tr ng-repeat="community in communities | filter:search.input">
                <td>
                  <a href="{{ community.path() }}" class="project-photo-small">
                    <img ng-src="{{community.logo()}}">
                  </a>
                </td>
                <td>
                  <a href="{{ community.path() }}">
                    <span ng-bind-html="community.name | uibTypeaheadHighlight:search.input"></span>
                  </a>
                </td>
              </tr>
            </table>
          </div>
          <div class="search-list">
            <h4 class="text-uppercase" translate>project.projects</h4>
            <table class="projects table table-hover">
              <tr ng-repeat="project in projects|filter:search.input">
                <td>
                  <a href="{{ project.path() }}" class="project-photo-small">
                    <img ng-src="{{project.logo()}}">
                  </a>
                </td>
                <td>
                  <a href="{{ project.path() }}">
                    <span ng-bind-html="project.title | uibTypeaheadHighlight:search.input"></span>
                  </a>
                </td>
              </tr>
            </table>
          </div>
          </div>
        </div>
      </ul>
    </li>
    <li class="text-uppercase menu-option" ng-if="support">
      <a href="/projects/{{support.projectId}}" translate>menu.feedback.title</a>
    </li>
    <li ui-yield-to="nav-desktop">
    </li>
    <li class="dropdown menu-session">
      <a ui-turn-on="menuSession">
        <div ng-if="! loggedIn()">
          <span class="avatar">
            <img src="images/anonymous-avatar.png" />
          </span>
          <span class="menu-session-nick" translate>
            menu.session.guest
          </span>
          <span class="caret"></span>
        </div>

        <div ng-if="loggedIn()">
          <span avatars="user.id" class="avatars avatars-without-names"></span>
          <span class="menu-session-nick" ng-bind="user.nick"></span>
          <span class="caret"></span>
        </div>
      </a>
      <ul class="dropdown-menu"
          ui-outer-click="Ui.turnOff('menuSession')"
          ui-outer-click-if="Ui.active('menuSession')"
          role="menu"
          ng-if="! loggedIn()"
          ui-show="menuSession"
          ui-state="menuSession"
          ui-turn-off="menuSession">
        <li><a ng-click="register()" class="user">{{'menu.session.guest' | translate}}<br>{{'menu.session.short_tip' | translate}}</a></li>
        <li class="divider"></li>
        <li><a ng-click="login()" translate>menu.session.login</a></li>
        <li><a ng-click="register()" translate>menu.session.register</a></li>
      </ul>
      <!-- Material design uses ul>li css so we have to repeat the menu here
           or add a watcher per menu entry -->
      <ul class="dropdown-menu"
          ui-outer-click="Ui.turnOff('menuSession')"
          ui-outer-click-if="Ui.active('menuSession')"
          role="menu"
          ng-if="loggedIn()"
          ui-show="menuSession"
          ui-state="menuSession"
          ui-turn-off="menuSession">

        <li><a href="/users/{{user.id}}" class="user">{{user.nick}}</a></li>
        <li class="divider"></li>
        <li><a href="/users/{{user.id}}" translate>menu.session.profile</a></li>
        <li><a ng-click="logout()" translate>menu.session.logout</a></li>
      </ul>
    </li>
  </ul>
</div>
