<div class="container-fluid menu navbar-top-menu" ng-controller="MenuCtrl">
  <ul class="nav navbar-nav navbar-right menu-mobile navbar-form">
    <li class="menu-option" ng-if="loggedIn()">
      <a href="/home/projects" translate>menu.homeProjects.title</a>
    </li>
    <li class="menu-option">
      <a href="/projects" translate>menu.explore.title</a>
    </li>
    <li ng-if="!loggedIn()" class="menu-option">
      <a  ng-click="login()" translate>menu.login.title</a>
    </li>
    <li ng-if="loggedIn()" class="menu-option">
      <a href="/users/{{user.id}}" translate>menu.profile.title</a>
    </li>
  </ul>
</div>
