<div class="navbar-top-projects">
  <div class="container">
    <!--<ul class="nav navbar-left">
      <li class="menu-option" ng-class="{'active': isActive('/home/teems') || isActive('/teems')}">
        <a href="/home/teems" class="i-featured" translate>menu.projects.featured</a>
        <div class="menu-triangle"></div>
      </li>
      <li class="menu-option" ng-class="{'active': isActive('/home/teems?latest') || isActive('/teems?latest')}">
        <a href="?latest" class="i-latest" translate>menu.projects.latest</a>
        <div class="menu-triangle"></div>
      </li>
    </ul>-->
    <plus plus-type="project" class="hidden-mobile" text="{{'project.create.button' | translate}}"></plus>
  </div>
</div>
