<div ui-content-for="nav-right">
  <div class="nav-right-menu" ng-if="!pad.editing">
    <a ui-turn-on="dropdownProjectMenu" class="btn">
      <i class="fa fa-ellipsis-v"></i>
    </a>
    <ul ui-state="dropdownProjectMenu" class="dropdown-menu ng-hide"
        ui-outer-click="Ui.turnOff('dropdownProjectMenu')"
        ui-outer-click-if="Ui.active('dropdownProjectMenu')"
        role="menu" ui-show="dropdownProjectMenu"
        ui-turn-off="dropdownProjectMenu">

      <li><a ui-set="{modalSharedState: 'shareModalCreate'}"><span translate>project.menu.share</span></a></li>
      <li><a like like-copy-on="project.menu.unlike" like-copy-off="project.menu.like" like-model="project"></a></li>
      <li><a join join-copy-on="project.menu.leave" join-copy-off="project.menu.join" join-model="project" analytics-on="click" analytics-event="Join project"></a></li>
    </ul>
  </div>
  <div class="nav-right-menu" ng-if="pad.editing">
    <a ng-click="editOff()" class="btn pad-check">
      <i class="fa fa-check" ng-class="{'fa-check': !pad.saving, 'fa-spinner': pad.saving}"></i>
    </a>
  </div>
</div>

<div ui-content-for="nav-title">
  <div class="project-title overflow-ellipsis">
    {{project.title || 'project.title.empty.placeholder' | translate}}
  </div>
</div>

<div ui-content-for="modals">
  <div projects-share-modal></div>
</div>
