<div ng-repeat="content in ['nav-right', 'nav-desktop']">
  <div ui-content-for="{{content}}">
    <div class="nav-right-menu" ng-if="!pad.editing || isDesktop()">
      <a ui-turn-on="dropdownProjectMenu" class="btn btn-link">
        <i class="material-icons">more_vert</i>
      </a>
      <ul ui-state="dropdownProjectMenu" class="dropdown-menu ng-hide"
          ui-outer-click="Ui.turnOff('dropdownProjectMenu')"
          ui-outer-click-if="Ui.active('dropdownProjectMenu')"
          role="menu" ui-show="dropdownProjectMenu"
          ui-turn-off="dropdownProjectMenu">

        <li><a ui-set="{moda.share: 'shareModalCreate'}"><span translate>project.menu.share</span></a></li>
        <li><a like like-copy-on="project.menu.unlike" like-copy-off="project.menu.like" like-model="project"></a></li>
        <li><a join join-modal="true" join-copy-on="project.menu.leave" join-copy-off="project.menu.join" join-model="project" analytics-on="click" analytics-event="Join project"></a></li>
        <!--<li><a ng-click="archiveProject()" translate>project.tooltip.archive</a></li>-->
        <li><a ui-set="{'modal.confirm': {
          name: 'confirm',
          title: 'project.cancel.confirm.title',
          text: 'project.cancel.confirm.text',
          accept: 'project.cancel.confirm.accept',
          cancel: 'project.cancel.confirm.cancel',
          callback: cancelProject
        }}" translate>project.tooltip.delete</a></li>
      </ul>
    </div>
    <div class="nav-right-menu" ng-if="pad.editing && !isDesktop()">
      <a ng-click="editOff()" class="btn pad-check">
        <i class="material-icons">{{!pad.saving ? 'done': 'autorenew'}}</i>
      </a>
    </div>
  </div>
</div>

<div ui-content-for="nav-title">
  <div ng-if="!isDesktop()" class="project-title-navbar overflow-ellipsis">
    {{project.title || 'project.title.empty.placeholder' | translate}}
  </div>
</div>

<div ui-content-for="modals2">
  <div projects-share-modal></div>
</div>
