<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title translate>page_title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-hover.css" />
    <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-base.css" />
    <link rel="stylesheet" href="bower_components/mobile-angular-ui/dist/css/mobile-angular-ui-desktop.css" />
    <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/glyphicon-to-fontawesome.css">
    <link rel="stylesheet" href="styles/mangular-customization.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/fontcustom.css">
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div bindonce class="app" id="app">
      <div class="navbar navbar-app navbar-absolute-top" ng-hide="hideNavigation">
        <div class="btn-group pull-left">
          <div class="btn btn-navbar" yield-to="nav-left"></div>
        </div>

        <div class="btn-group pull-right">
          <div class="btn btn-navbar" yield-to="nav-right"></div>
        </div>

        <div class="nav-title" yield-to="nav-title"></div>
      </div>

      <div ng-style="(hideNavigation || (height<300)) ? {'padding-bottom': '0px'}:{}" class="app-body scrollable">
        <div class="container scrollable-content" ng-view></div>
      </div>

      <div ng-hide="hideNavigation || (height<300)" class="navbar navbar-app navbar-absolute-bottom" ng-controller="BottomNavbarCtrl">
        <div class="btn-group col-md-12">
          <div class="btn btn-navbar btn-navbar-bottom col-md-4" yield-to="nav-left-bottom">
            <div ng-click="timeline()">
              <i class="fa fa-bullhorn" bo-class="contextIs('timeline')?'selected':''"></i>
              <div translate>
                bottom_navbar.news
              </div>
            </div>
          </div>

          <div class="btn btn-navbar btn-navbar-bottom col-md-4" yield-to="nav-right-bottom">
            <div ng-click="projects()">
              <i class="fa fa-lightbulb-o" bo-class="contextIs('projects')?'selected':''"></i>
              <div translate>
                bottom_navbar.projects
              </div>
            </div>
          </div>

          <div class="btn btn-navbar btn-navbar-bottom col-md-4" yield-to="nav-center-bottom">
            <div ng-click="tasks()">
              <i class="fa fa-check" bo-class="contextIs('my_tasks')?'selected':''"></i>
              <div translate>
                bottom_navbar.my_tasks
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
     // Load only within android app: cordova=android
     if (window.location.search.search("cordova") > 0) {
       (function(d, script) {
         var scripts = [
           "cordova",
           "cordova_plugins",
         ]

         for (i in scripts) {
           script = d.createElement('script');
           script.type = 'text/javascript';
           script.src = 'scripts/cordova/' + scripts[i] + '.js';
           d.getElementsByTagName('head')[0].appendChild(script);
         }
       }(document));
     };
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-translate/angular-translate.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>
    <script src="bower_components/mobile-angular-ui/dist/js/mobile-angular-ui.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-select/dist/select.js"></script>
    <script src="bower_components/angular-bindonce/bindonce.js"></script>
    <!-- endbower -->
    <script src="scripts/cordova.js"></script>
    <script src="scripts/stats.js"></script>
    <!-- endbuild -->
    <script src="http://localhost:9898/swellrt/swellrt.nocache.js"></script>
    <script src="scripts/config-timeline-tests.js"></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/session.js"></script>
    <script src="scripts/controllers/tasks.js"></script>
    <script src="scripts/controllers/communities.js"></script>
    <script src="scripts/controllers/datetimeinput.js"></script>
    <script src="scripts/controllers/timeline.js"></script>
    <script src="scripts/controllers/projects.js"></script>
    <script src="scripts/controllers/bottom_navbar.js"></script>
    <script src="scripts/controllers/testimonies.js"></script>
    <script src="scripts/controllers/help.js"></script>
    <script src="scripts/controllers/thanksapp.js"></script>
    <script src="scripts/controllers/chatpad.js"></script>
    <!-- endbuild -->

    <script>
     window.onSwellRTReady = function () {
       window.SwellRT.startSession(
         window.configTimelineTests.server,
         window.configTimelineTests.user,
         window.configTimelineTests.pass,
         function () {
           //success
           angular.element(document).ready(function() {
             angular.bootstrap(document, ['Pear2Pear']);
           });
         },
         function () {
           window.alert('Error conecting to wavejs server: Try again later')
         });
      
     };
    </script>

    <!-- Piwik -->
    <!-- TODO move to stats template -->
    <script type="text/javascript">
      if (window.location.toString().search('p2pvalue')!=-1){
        var _paq = _paq || [];
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking', true]);
        (function() {
          var u="//stats.p2pvalue.eu/";
          _paq.push(['setTrackerUrl', u+'piwik.php']);
          _paq.push(['setSiteId', 3]);
          var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
          g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
        })();
      }
    </script>
    <noscript><p><img src="//stats.p2pvalue.eu/piwik.php?idsite=3" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->
  </body>
</html>
