<div class="flex-container project-mobile">
  <div ng-class="{'flex-container': pad.editing}">
    <div ng-class="{'hidden': pad.editing}">
      <div class="container project-creation">10/09/2016</div>
      <div class="container">
        <h1>{{project.title}}</h1>
      </div>
      <div class="container project-community">
        <a href="communities/{{community._urlId}}">{{community.name}} Huerta de Tetuán</a>
      </div>
      <div class="container project-location">
        <i class="custom-icons">location_on</i> {{project.location[0]}}
      </div>
      <div class="container">
        <div class="media project-promoter">
          <div avatars="project.promoter" avatars-conf="{size: 'xsmall'}" class="avatars-without-names media-left"></div>
          <div class="media-body">
            <span>Created by</span>
            <strong>{{project.promoter | idToNick}}</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="container" ng-if="editingTitle() && !pad.editing">
      <div class="input-group title-form">
        <input type="text" hide-tabs
               class="form-control title-input"
               ng-model="project.title"
               placeholder="{{ 'project.title.placeholder' | translate }}">
        <div class="input-group-addon">
          <button class="btn btn-link" ng-if="! isNew()" ng-click="hideEditTitle()">
            <i class="i-check"></i>
          </button>
        </div>
      </div>
      <selector
        multiple
        config="communitySelector.config"
        options="communitySelector.options"
        ng-model="project.communities"
        placeholder=" 'project.community.placeholder' | translate"
      ></selector>
    </div>
    <div class="project-join container" ng-if="!project.isParticipant()">
      <button class="btn btn-primary btn-raised btn-block btn-lg"
              join
              join-icon="false",
              join-model="project"
              join-copy-on="project.participate.btn.undo"
              join-copy-off="project.participate.btn.do"
              analytics-on="click"
              analytics-event="Join project">
      </button>
    </div>
    <div class="container info-tip" ng-if="project.isParticipant() && !pad.editing && infoTip()">
      <span translate>pad.tap_to_edit</span> <span ng-click="infoTip(true)" class="i-close pull-right"></span>
    </div>

    <pad class="flex-container"></pad>

    <div class="container project-participants" ng-if="!isNew() && !pad.editing">
      <div project-people ng-if="!isNew() && !pad.editing"></div>
    </div>
  </div>
  <div class="scrollable-footer" ng-if="isNew() && !pad.editing">
    <div ng-include="'new-form/buttons.html'"></div>
  </div>
</div>
