<div class="flex-container project-mobile">
  <div ng-class="{'flex-container': pad.editing}">
    <div class="section" ng-class="{'hidden': pad.editing}">
      <h1>{{project.title}}</h1>
    </div>
    <div class="section project-header" ng-if="!pad.editing && !isNew()">
      <button class="btn btn-default like-icon"
              like
              like-icon="true"
              like-count="true"
              like-model="project">
      </button>
    </div>
    <div class="section" ng-if="editingTitle() && !pad.editing">
      <div class="input-group title-form">
        <input type="text" hide-tabs
               class="form-control title-input"
               ng-model="project.title"
               placeholder="{{ 'project.title.placeholder' | translate }}">
        <div class="input-group-addon">
          <button class="btn btn-link" ng-if="! isNew()" ng-click="hideEditTitle()">
            <i class="i-check"></i>
          </button>
        </div>
      </div>
      <selector
        multiple
        config="communitySelector.config"
        options="communitySelector.options"
        ng-model="project.communities"
        placeholder=" 'project.community.placeholder' | translate"
      ></selector>
    </div>
    <div class="project-join section" ng-if="!project.isParticipant()">
      <button class="btn btn-primary btn-raised btn-block btn-lg"
              join
              join-icon="false",
              join-model="project"
              join-copy-on="project.participate.btn.undo"
              join-copy-off="project.participate.btn.do"
              analytics-on="click"
              analytics-event="Join project">
      </button>
    </div>
    <div class="section info-tip" ng-if="project.isParticipant() && !pad.editing && infoTip()">
      <span translate>pad.tap_to_edit</span> <span ng-click="infoTip(true)" class="i-close pull-right"></span>
    </div>

    <pad class="flex-container"></pad>

    <div class="section project-participants" ng-if="!isNew() && !pad.editing">
      <div project-people ng-if="!isNew() && !pad.editing"></div>
    </div>
  </div>
  <div class="scrollable-footer" ng-if="isNew() && !pad.editing">
    <div ng-include="'new-form/buttons.html'"></div>
  </div>
</div>
