<div class="project-mobile">
  <div>
    <div ng-class="{'hidden': pad.editing}">
      <div ng-include="'projects/project/info.html'"></div>
    </div>
    <div class="container info-tip" ng-if="project.isParticipant() && !pad.editing && infoTip()">
      <span translate>pad.tap_to_edit</span> <span ng-click="infoTip(true)" class="i-close pull-right"></span>
    </div>

    <pad class="flex-container"></pad>

    <div class="project-participants" ng-if="!isNew() && !pad.editing">
      <div project-people ng-if="!isNew() && !pad.editing"></div>
    </div>
  </div>
  <div class="scrollable-footer" ng-if="isNew() && !pad.editing">
    <div ng-include="'new-form/buttons.html'"></div>
  </div>
</div>
