<div ui-content-for="navbar-bottom">
  <div ng-hide="emptyProjects()" class="navbar navbar-app navbar-absolute-bottom" ng-controller="ProjectsCtrl">
    <div class="btn-group justified">
      <a class="btn btn-navbar" ng-href="#/communities/{{urlId(community.id)}}/projects" ng-class="nav('crowddoing')">
        <i class="fa fa-compass"></i>
        <div class="navbar-bottom-copy" translate>
          bottom_navbar.crowd_doing
        </div>
      </a>

      <a class="btn btn-navbar" ng-href="#/communities/{{urlId(community.id)}}/projects?section=mydoing" ng-class="nav('mydoing')">
        <i class="fa fa-heart-o"></i>
        <div class="navbar-bottom-copy" translate>
          bottom_navbar.my_doing
        </div>
      </a>
    </div>
  </div>
</div>
