<div content-for="nav-title"><span translate>timeline.show.title</span></div>

<div id="timeline" class="row">
  <div class="col-md-12">
    <div class="timeline">
      <div class="media" ng-repeat="item in timeline | reverse">
        <a class="pull-left" href="#">
          <div ng-class="'media-object fa timeline-icon' + (item.icon ? (' fa-' + item.icon) : '' )"></div>
        </a>
        <div class="media-body">
          <h4 class="media-heading">{{item.heading}}</h4>
          {{item.body}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-app navbar-absolute-bottom" id="bottomNavBar" ng-if="isControl()">
  <div content-for="nav-left-bottom" class="btn-group pull-left">
    <a class="btn btn-navbar" ng-click="next()">
      Next!
    </a>
  </div>
  <div content-for="nav-right-bottom" class="btn-group pull-right">
    <a class="btn btn-navbar" ng-click="clear()">
      Clear
    </a>
  </div>
</div>
