<div ui-content-for="nav-title">
  <div class="project-title overflow-ellipsis">{{project.title}}</div>
</div>

<div ui-content-for="nav-left">
  <a href="#/projects"><i class="fa fa-chevron-left"></i></a>
</div>


<div ng-include="'navbar_top/chat_pad.html'"></div>

<div class="section chat">
  <div class="scrollable">
    <div class="scrollable-content">
      <ul class="chat-messages">
        <li ng-repeat="msg in project.chat" class="chat-message {{msg.standpoint}}">
          {{msg.text}}
        </li>
      </ul>
    </div>
    <div class="scrollable-footer">
      <form ng-submit="send()">
        <div class="input-group">
          <textarea class="form-control" rows="1" ng-model="chat.new" placeholder="{{ 'chat.input' | translate}}"/> 
          <span class="input-group-addon">
            <i class="fa fa-chevron-circle-right chat-input-button" ng-click="send()"></i>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>

