[
    {
        "id":"chat_message_added",
        "app":"default",
        "dataType":"default",
        "conditions":[
        ],
        "type":"LIST_ITEM_ADDED",
        "path":"root.chat.?",
        "targets":{
            "gcm":{
                "collapseKey": "applice",
                "title": "${root.title}",
                "message":"$author: ${root.chat.?.text}",
                "style": "inbox",
                "summaryText": "There are %n% notifications",
                "notId": "$hash{root.id}",
                "commId": "${root.communities.0}",
                "projId": "${root.id}",
                "context": "chat"
            }
         }
    },
    {
        "id":"need_changed",
        "app":"default",
        "dataType":"default",
        "conditions":[
        ],
        "type":"MAP_ENTRY_UPDATED",
        "path":"root.needs.?.version",
        "targets":{
            "gcm":{
                "collapseKey": "applice",
                "title": "${root.title}",
                "message":"$author: ${root.needs.?.text}",
                "style": "inbox",
                "summaryText": "There are %n% notifications",
                "notId": "$hash{root.id}",
                "commId": "${root.communities.0}",
                "projId": "${root.id}",
                "context": "needs"
            }
        }
    },
    {
        "id":"need_comment_added",
        "app":"default",
        "dataType":"default",
        "conditions":[
        ],
        "type":"LIST_ITEM_ADDED",
        "path":"root.needs.?.comments.?",
        "targets":{
            "gcm":{
		"collapseKey": "applice",
                "title": "${root.title}",
                "message":"$author: ${root.needs.?.comments.?.text}",
                "style": "inbox",
                "summaryText": "There are %n% notifications",
                "notId": "$hash{root.id}",
                "commId": "${root.communities.0}",
                "projId": "${root.id}",
                "context": "needs"
            }
        }
    },
    {
        "id":"need_completed",
        "app":"default",
        "dataType":"default",
        "conditions":[
	],
        "type":"MAP_ENTRY_UPDATED",
        "path":"root.needs.?.completionDate",
        "targets":{
            "gcm":{
                "collapseKey": "applice",
                "title": "${root.title}",
                "message":"\u2714 ${root.needs.?.text}",
                "style": "inbox",
                "summaryText": "There are %n% notifications",
                "notId": "$hash{root.id}",
                "projId": "${root.id}",
                "context": "needs"
    	    }
	}
    }
]
