<div class="text-center">
  <h1>Chatpad</h1>
  <p class="subtitle">Tu memoria grupal</p>
</div>
<div class="row">
  <div id="chatpad" class="col-md-12">
    <form>
      <div class="form-group">
        <textarea class=" form-control" rows="10" ng-model="pad">
        </textarea>
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div ng-show="mode!=='ctrl'" class=" alert alert-info">
      Guardar este <strong>Chatpad</strong> para futuras ocasiones
      <button class="btn btn-default pull-right" ng-click="">Guardar</button>
    </div>
  </div>
</div>

<div ng-show="mode==='ctrl'">
  He creado el <strong>chatpad</strong> del grupo: {{getLocation()}} con el mensaje: "{{pad.substr(0,16)}}..."
</div>
