<center>
  <!-- TODO improve header -->
  <h1 id="chatpad">Chatpad</h1>
  <p class="subtitle">Your group memory</p>
</center>

<hr/>

<div id="thanksapp" class="row">
  <div class="col-md-12 ">
    <div class="timeline">
      <div class="media">
        <textarea class="col-md-12" style="min-height:200px; background: #fff;" ng-model="pad">
        </textarea>
      </div>
    </div>
  </div>
</div>

<hr/>

<div ng-show="mode!=='ctrl'" class="col-md-12 alert alert-info">
  Guardar este <strong>Chatpad</strong> para futuras ocasiones
  <button class="btn btn-default pull-right" ng-click="">Guardar</button>
</div>

<div ng-show="mode==='ctrl'">
  He creado el <strong>chatpad</strong> del grupo: {{getLocation()}} con el mensaje: "{{pad.substr(0,16)}}..."
</div>
