<div class="row">
  <div class="col-md-12">
    <form role="form" class="community-form">
      <div class="form-group">
        <label class="control-label" for="communityName" translate>community.name</label>
        <input type="text" class="form-control" id="communityName" ng-model="community.name">
      </div>
      <div class="form-group">
        <label class="control-label" translate>community.participants</label>
        <ui-select multiple ng-model="community.participants" theme="bootstrap">
          <ui-select-match placeholder="">{{$item.name}}</ui-select-match>
          <ui-select-choices repeat="user in app.users | filter:$select.search">
            {{user.name}}
          </ui-select-choices>
        </ui-select>
      </div>
      <div class="form-group">
        <label class="control-label" translate>community.leave</label>
        <div>
          <button type="button" class="btn pull-left community-leave btn-danger show" translate>community.leave</button>
        </div>
      </div>
    </form>
  </div
</div>
