<div content-for="nav-title"><span translate>community.index.title</span></div>

<div content-for="nav-right"><i class="fa fa-plus" ng-click="new_()"></i></div>

<div class="row">
  <div class="col-md-12">
      <div class="empty-communities-tip hidden">
          <span class="empty-communities-tip-msg" translate>community.tip.empty</span> 
      </div>
      <div class="communities">
        <div class="row community-item" ng-repeat="community in communities" ng-click="showTasks(community.id)">
          <div class="col-md-12"> 
            <div class="pull-left community-item-name" title="Tasks of the community">{{ community.name }}</div>
            <div class="btn-group pull-right">
              <button class="btn btn-default community-edit" type="button" ng-click="edit(community.id); $event.stopPropagation()" translate>community.edit.button</button>
            </div>
          </div>
        </div>
      </div>
      <div class="group-task-tip hidden" translate>community.tip.task</div>
    </div>
  </div>
</div>
