<div>
  <div class="col-sm-6" ng-if="supportsDateInput">
    <input date-input class="form-control" ng-model="dateModel"/>
  </div>
  <div class="col-sm-6" ng-if="! supportsDateInput">
    <div class="input-group datepicker">
      <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" is-open="opened" ng-model="dateModel"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open()"><i class="fa fa-calendar"></i></button>
      </span>
    </div>
  </div>
  <div class="col-sm-6" ng-if="supportsTimeInput">
    <input time-input class="form-control"  ng-model="dateModel"/>
  </div>
  <div class="col-sm-6" ng-if="! supportsTimeInput">
    <timepicker ng-model="reminder.date"></timepicker>
  </div>
</div>
