<div id="profile" class="section profile">
  <h1 translate>profile.your</h1>
  <form>
    <div class="form-group row">
      <label for="id" class="col-sm-2 form-control-label">ID</label>
      <div class="col-sm-10">
        {{user}}
      </div>
    </div>
    <div class="form-group row">
      <label for="avatar" class="col-sm-2 form-control-label" translate>profile.avatar.avatar</label>
      <div class="col-sm-10" ng-hide="cropping">
        <label for="avatar" class="avatar-large">
          <img ng-src="{{croppedAvatar}}">
        </label>
        <label for="avatar">
          <div class="btn btn-primary" translate>profile.avatar.change</div>
        </label>
        <button class="btn" ng-click="deleteAvatar()" ng-disabled="!rawAvatar" translate>profile.avatar.delete</button>
      </div>
      <div class="col-sm-10" ng-hide="true">
        <input type="file" class="form-control" id="avatar">
      </div>
      <div class="col-sm-10" ng-show="cropping">
        <div class="cropArea">
          <img-crop image="rawAvatar" result-image="croppedAvatar"></img-crop>
        </div>
        <button ng-click="saveAvatar()" translate>common.save</button>
      </div>
      <div class="col-sm-10">
        <img-crop image="rawAvatar" result-image="croppedAvatar"></img-crop>
      </div>
    </div>
  </form>
</div>
