
window.swellrtConfig = {
  server : 'http://localhost:9898',
  // user and pass have to be credentials of an existing user in wave server
  user : 'user',
  pass : 'pass',
  // WaveIds have to exist in wave server
  waveId : 'local.net/gen+12345abcde'
  testimoniesWaveId : 'local.net/gen+12345abcde'
  helpWaveId : 'local.net/gen+12345abcde'
  thanksappWaveId : 'local.net/gen+12345abcde'
  chatpadWaveId : 'local.net/gen+12345abcde'
};
