<div ui-content-for="nav-left">
  <div class="btn-group pull-left">
    <div ui-toggle="uiSidebarLeft" class="btn sidebar-toggle">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</div>

<div ui-content-for="sidebar">
  <div class="sidebar sidebar-left" ng-include="'menu.html'" ng-controller="MenuCtrl"></div>
</div>

<div ui-content-for="nav-right">
  <div class="btn-group pull-right nav-right-menu">
    <a ui-turn-on="dropdownProjectMenu" class="btn">
      <i class="fa fa-ellipsis-v"></i>
    </a>
    <ul ui-state="dropdownProjectMenu" class="dropdown-menu ng-hide"
        ui-outer-click="Ui.turnOff('dropdownProjectMenu')"
        ui-outer-click-if="Ui.active('dropdownProjectMenu')"
        role="menu" ui-show="dropdownProjectMenu"
        ui-turn-off="dropdownProjectMenu">

      <li><a ui-turn-on="shareModalCreate"><span translate>project.menu.share</span></a></li>
      <li><a like like-copy-on="project.menu.unlike" like-copy-off="project.menu.like" like-model="project"></a></li>
      <li><a join join-copy-on="project.menu.leave" join-copy-off="project.menu.join" join-model="project" analytics-on="click" analytics-event="Join project"></a></li>
    </ul>
  </div>
</div>

<div ui-content-for="nav-title">
  <div class="project-title overflow-ellipsis">
    <input id="title_input" type="text" ng-model="project.title" placeholder="{{ 'project.title.placeholder' | translate }}">
  </div>
</div>

<div ui-content-for="nav-navigation">
  <div class="btn-group justified">
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/pad" class="nav-pad {{nav('pad')}}" | translate>pad.nav.title</a>
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/needs" class="nav-pad {{nav('needs')}}" | translate>need.nav.title</a>
    <a ng-if="project.isContributor()" ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/chat" class="nav-chat {{nav('chat')}}" | translate>chat.nav.title </a>
  </div>
</div>

<div ui-content-for="modals">
  <div class="modal" ui-if="shareModalCreate" ui-state="shareModalCreate">
    <div class="modal-backdrop in" ui-turn-off="shareModalCreate"></div>

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close"
                  ui-turn-off="shareModalCreate">&times;</button>
            <h4 class="modal-title" translate translate-values="{ title: '{{project.title}}' }">project.share.title</h4>
        </div>
        <div class="modal-body">

          <div class="share-description" translate>project.share.description.link</div>

            <input class="well share-link" type="url" ng-controller="HelperCtrl" ng-value="linkCurrentProject()"/>

            <div ng-hide="!project.isContributor()">
              <div class="share-description" translate>project.share.description.permission</div>

              <div class="btn-group btn-group-justified" role="group">
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" ng-click="setShared('public')" ng-class="isShared('public') ? 'active' : ''">
                    <span translate>project.share.mode.public</span>
                  </button>
                </div>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-default" ng-click="setShared('link')" ng-class="isShared('link') ? 'active' : ''">
                    <span translate>project.share.mode.link</span>
                  </button>
                </div>
              </div>


              <div class="share-info text-info" ng-show="isShared('link')" translate>project.share.info.link</div>
              <div class="share-info text-info" ng-show="isShared('public')" translate>project.share.info.public</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
