<div ui-content-for="nav-left">
  <a href="#/communities/{{communityId}}/projects"><i class="fa fa-chevron-left"></i></a>
</div>

<div ui-content-for="nav-right">
  <a ui-turn-on="shareModalCreate"><i class="fa fa-share-alt"></i></a>
</div>

<div ui-content-for="nav-navigation">
  <div class="btn-group justified">
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/pad" class="nav-pad {{nav('pad')}}" | translate>pad.nav.title</a>
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/needs" class="nav-pad {{nav('needs')}}" | translate>need.nav.title</a>
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/chat" class="nav-chat {{nav('chat')}}" | translate>chat.nav.title</a>
  </div>
</div>

<div ui-content-for="modals">
  <div class="modal" ui-if="shareModalCreate" ui-state="shareModalCreate">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close"
                  ui-turn-off="shareModalCreate">&times;</button>
            <h4 class="modal-title" translate translate-values="{ title: '{{project.title}}' }">project.share.title</h4>
        </div>
        <div class="modal-body">
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary" ng-class="(isPublicShared()) ? 'active' : ''" ng-click="setPublicShared()" translate>
              <input type="radio" name="options" id="option1" autocomplete="off">project.share.mode.public
            </label>
            <label class="btn btn-primary" ng-class="(isLinkShared()) ? 'active' : ''"  ng-click="setLinkShared()" translate>
              <input type="radio" name="options" id="option2" autocomplete="off"> project.share.mode.link
            </label>
            <!-- <label class="btn btn-primary" ng-class="(isInviteShared()) ? 'active' : ''" ng-click="setInviteShared()" translate ng-disabled="true"> -->
            <!--   <input type="radio" name="options" id="option3" autocomplete="off" ng-disabled="true"> project.share.mode.invite -->
            <!-- </label> -->
          </div>

          <div class="share-description" ng-show="isPublicShared()" translate>project.share.description.public</div>
          <div class="share-description" ng-show="isLinkShared()" translate>project.share.description.link</div>
          <div class="well share-link" ng-controller="HelperCtrl">{{currentHref()}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
