<div ui-content-for="nav-left">
  <a href="#/communities/{{communityId}}/projects?section=mydoing"
     ng-click="timestampProjectAccess()"><i class="fa fa-chevron-left"></i></a>
</div>

<div ui-content-for="nav-right">
  <a ui-turn-on="shareModalCreate"><i class="fa" ng-class="shareIcon()"></i></a>
</div>

<div ui-content-for="nav-navigation">
  <div class="btn-group justified">
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/pad?section={{section()}}" class="nav-pad {{nav('pad')}}" | translate>pad.nav.title</a>
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/needs?section={{section()}}" class="nav-pad {{nav('needs')}}" | translate>need.nav.title</a>
    <a ng-if="project.isContributor()" ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}/chat?section={{section()}}" class="nav-chat {{nav('chat')}}" | translate>chat.nav.title </a>
  </div>
</div>

<div ui-content-for="modals">
  <div class="modal" ui-if="shareModalCreate" ui-state="shareModalCreate">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close"
                  ui-turn-off="shareModalCreate">&times;</button>
            <h4 class="modal-title" translate translate-values="{ title: '{{project.title}}' }">project.share.title</h4>
        </div>
        <div class="modal-body">

          <div class="share-description" translate>project.share.description.link</div>

          <input class="well share-link" type="url" ng-controller="HelperCtrl" ng-value="linkCurrentProject()"/>

          <div class="share-description" translate>project.share.description.permission</div>

          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="setShared('public')" ng-class="isShared('public') ? 'active' : ''">
                <span translate>project.share.mode.public</span>
              </button>
            </div>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" ng-click="setShared('link')" ng-class="isShared('link') ? 'active' : ''">
                <span translate>project.share.mode.link</span>
              </button>
            </div>
          </div>


          <div class="share-info text-info" ng-show="isShared('link')" translate>project.share.info.link</div>
          <div class="share-info text-info" ng-show="isShared('public')" translate>project.share.info.public</div>


        </div>
      </div>
    </div>
  </div>
</div>
