<div ui-content-for="nav-left">
  <a href="#/communities/{{communityId}}/projects"><i class="fa fa-chevron-left"></i></a>
</div>

<div ui-content-for="nav-navigation">
  <div class="btn-group justified">
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}" class="nav-pad {{nav('information')}}" | translate>project.info.nav.title</a>
    <a ng-href="#/communities/{{communityId}}/projects/{{urlId(project.id)}}?section=needs" class="nav-pad {{nav('needs')}}" | translate>need.nav.title</a>
  </div>
</div>
